# tern_biomass_clean

In [1]:
import pandas as pd
from glob import glob
import os
from calendar import monthrange
from datetime import datetime

In [2]:
locations = pd.read_excel(r"F:\cdu\data\tern_data\Copy of TERN basal_area_data_Grant_SEPT2022.xlsx", sheet_name="Site locations_NT north")

In [3]:
basal = pd.read_excel(r"F:\cdu\data\tern_data\Copy of TERN basal_area_data_Grant_SEPT2022.xlsx", sheet_name="NT north bioregions_spp")

In [4]:
locations

,siteName,siteVisitName,siteType,siteVisitStartDate,site.description,latitude,longitude,pointPositionWithinPlot,sitevisit.description
0,NTAARP0001,20160602,site,2016-06-02T08:52:59Z,"Kakadu National Park, 37km west of Gimbit home...",-13.55729,132.2701,South West,"Kakadu National Park, 37km west of Gimbit home..."
1,NTAARP0002,20160602,site,2016-06-02T17:24:35Z,"Kakadu National Park, 34.5km west of Gimbit ho...",-13.54561,132.2944,South West,"Kakadu National Park, 34.5km west of Gimbit ho..."
2,NTAARP0003,20160603,site,2016-06-03T14:50:55Z,Kakadu National park. 18km west north west of...,-13.51697,132.4571,South West,Kakadu National park. 18km west north west of...
3,NTADAC0001,20130528,site,2013-05-28T00:00:00Z,Litchfield National Park. 30km south west of B...,-13.15835,130.7779,South West,Litchfield National Park. 30km south west of B...
4,NTADAC0002,20160506,site,2016-05-06T09:17:06Z,"Kakadu National Park, 20km south of Kapalga ho...",-12.73922,132.3403,South West,"Kakadu National Park, 20km south of Kapalga ho..."
...,...,...,...,...,...,...,...,...,...
58,NTTDAB0001,20140317,site,2014-03-17T00:00:00Z,Umbrawarra Conservation Park. 9 km north east ...,-13.96288,131.6740,South West,Umbrawarra Conservation Park. 9 km north east ...
59,NTTDAC0001,20140318,site,2014-03-18T00:00:00Z,Litchfield National Park. 27 km south west of ...,-13.13983,130.7957,South West,Litchfield National Park. 27 km south west of ...
60,NTTMGD0001,20140315,site,2014-03-15T00:00:00Z,Newcastle Waters station. 10.6km north north w...,-17.28297,133.4239,South West,Newcastle Waters station. 10.6km north north w...
61,NTTPCK0001,20140319,site,2014-03-19T00:00:00Z,Manton Dam Conservation Reserve. 22km north ea...,-12.87196,131.1270,South West,Manton Dam Conservation Reserve. 22km north ea...
62,NTTSTU0001,20140315,site,2014-03-15T00:00:00Z,Hayfield Station. 27km north west of homestead...,-16.63024,133.2712,South West,Hayfield Station. 27km north west of homestead...

In [5]:
basal

,site_unique,site_name,site_visitid,standardised_name,basal_area_m2_ha
0,NTAARP0001-58422,NTAARP0001,58422,Acacia mimula,1.050000
1,NTAARP0001-58422,NTAARP0001,58422,Buchanania obovata,0.583333
2,NTAARP0001-58422,NTAARP0001,58422,Erythrophleum chlorostachys,2.166667
3,NTAARP0001-58422,NTAARP0001,58422,Eucalyptus tetrodonta,14.833333
4,NTAARP0001-58422,NTAARP0001,58422,Owenia vernicosa,0.200000
...,...,...,...,...,...
294,NTTSTU0001-53585,NTTSTU0001,53585,Gyrocarpus americanus,0.100000
295,NTTSTU0001-53585,NTTSTU0001,53585,Macropteranthes kekwickii,3.187500
296,NTTSTU0001-53585,NTTSTU0001,53585,Melaleuca viridiflora,0.100000
297,NTTSTU0001-53585,NTTSTU0001,53585,Terminalia canescens,0.200000
298,NTTSTU0001-53585,NTTSTU0001,53585,Terminalia volucris,4.500000