# Colate Slats and Tern AGB datasets

#### Import modules

In [1]:
import pandas as pd
import os
import geopandas as gpd

In [ ]:
# NTG system

In [ ]:
drive = "D"
date = "20230202"

#### Inputs

In [ ]:
slats_path = r"{0}:\cdu\data\output\{1}\slats_c_bio_site_totals.csv".format(drive, date)
tern_path = r"{0}:\cdu\data\output\{1}\c_tern_bio_site_totals.csv".format(drive, date)
output_dir = r"{0}:\cdu\data\output\{1}".format(drive, date)

In [ ]:
# Lenovo system

In [8]:
date = "20240317"
drive = "C"

In [14]:
slats_path = r"{0}:\Users\robot\projects\cdu\data\output\{1}\slats_c_bio_site_totals.csv".format(drive, date)
tern_path = r"{0}:\Users\robot\projects\cdu\data\output\{1}\c_tern_bio_site_totals.csv".format(drive, date)
output_dir = r"{0}:\Users\robot\projects\cdu\data\output\{1}".format(drive, date)

In [15]:
slats_path

'C:\\Users\\robot\\projects\\cdu\\data\\output\\20240317\\slats_c_bio_site_totals.csv'

In [16]:
#output_dir = r"{0}:\cdu\data\output\{1}".format(drive, date)

In [17]:
if not os.path.isdir(output_dir):
    os.mkdir(output_dir)

#### Outputs

In [18]:
slats = pd.read_csv(slats_path)
tern = pd.read_csv(tern_path)

In [19]:
slats.shape

(104, 21)

In [20]:
sorted(slats.site.unique())

['agb02',
 'amg01',
 'amg03',
 'amg05',
 'amg06',
 'amg08',
 'amg10',
 'ant01',
 'ant02',
 'ant03',
 'ant04',
 'ant06',
 'ant07',
 'ant09',
 'antgr01',
 'auv01',
 'auv02',
 'auv03',
 'auv05',
 'auv06',
 'auv07',
 'auv08',
 'auv09',
 'barkely01',
 'barkely02',
 'barkely03',
 'barkely04',
 'barkely05',
 'barkely06',
 'barkely07',
 'buff01',
 'centa13',
 'centa14',
 'el01',
 'el02',
 'ep01',
 'girra01',
 'girra02',
 'gulf10',
 'gulf11',
 'gulf12',
 'hsf01',
 'hsf02',
 'hshr01',
 'jdr01',
 'jdr02',
 'jdr03',
 'jdr04',
 'jdr05',
 'larr15',
 'legu01',
 'legu02',
 'legu03',
 'legu04',
 'legu05',
 'legu06',
 'legu07',
 'legu08',
 'lim01',
 'lim03',
 'lim04',
 'lim06',
 'lim08',
 'lim09',
 'lit01',
 'lto04',
 'lto05',
 'nc01',
 'nc02',
 'nc03',
 'nt001',
 'nt002',
 'nt003',
 'nt004',
 'umb07',
 'vrd16',
 'vrd17',
 'vrd20',
 'vrd22',
 'vrd23',
 'vrd24',
 'vrd25',
 'vrd26',
 'vrd29',
 'vrd30',
 'vrd31',
 'vrd32',
 'vrd33',
 'vrd34',
 'vrd35',
 'vrd36',
 'vrd37',
 'wedo01',
 'wedo03',
 'wh02',
 'wh03',
 'wh04',
 'wh05',
 'wh06',
 'wh07',
 'wh08',
 'wh09',
 'wh13',
 'wh15']

In [21]:
tern.shape

(63, 21)

In [22]:
df = pd.concat([slats, tern])

In [23]:
df.shape

(167, 21)

In [24]:
# Convert the value of 'Name' column to lowercase
df['site'] = df['site'].str.lower()

In [25]:
df.sort_values("site", inplace = True)

In [26]:
df.reset_index(inplace=True, drop=True)
df["uid"] = df.index + 1
df

,uid,site,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,bio_br_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
0,1,agb02,20120417,131.005190,-12.647291,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,amg01,20120619,134.051686,-16.380958,413.634375,448.552832,1310.224441,3748.311503,2886.444322,...,1811.635,8376.216104,880.073138,915.413944,2673.927432,7649.615312,5890.702698,10323.542743,3697.214286,17094.318579
2,3,amg03,20120620,134.031626,-16.778991,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,amg05,20120621,134.090645,-16.731246,833.612143,906.465000,3541.755000,11522.385000,8737.575000,...,5064.990,24670.800000,1773.642857,1849.928571,7228.071429,23515.071429,17831.785714,30743.142857,10336.714286,50348.571429
4,5,amg06,20120621,134.087857,-16.694220,104.279571,113.393000,443.051000,1441.377000,1093.015000,...,633.598,3086.160000,221.871429,231.414286,904.185714,2941.585714,2230.642857,3845.771429,1293.057143,6298.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,163,wh07,20120725,130.855214,-17.730620,8.117571,8.827000,34.489000,112.203000,85.085000,...,49.322,240.240000,17.271429,18.014286,70.385714,228.985714,173.642857,299.371429,100.657143,490.285714
163,164,wh08,20120725,130.864855,-17.800306,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
164,165,wh09,20120725,130.827564,-17.849492,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
165,166,wh13,20120726,130.979392,-17.484923,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
166,167,wh15,20120727,130.948318,-17.573536,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [27]:
out = os.path.join(output_dir, "slats_tern_biomass.csv")

df.to_csv(os.path.join(out), index = False)
print("file exported: ", out)

file exported:  C:\Users\robot\projects\cdu\data\output\20240317\slats_tern_biomass.csv

In [28]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.lon_gda94, df.lat_gda94))

In [29]:
gdf.set_crs("epsg:4283", inplace=True)

,uid,site,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,bio_br_kg1ha,...,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha,geometry
0,1,agb02,20120417,131.005190,-12.647291,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (131.00519 -12.64729)
1,2,amg01,20120619,134.051686,-16.380958,413.634375,448.552832,1310.224441,3748.311503,2886.444322,...,8376.216104,880.073138,915.413944,2673.927432,7649.615312,5890.702698,10323.542743,3697.214286,17094.318579,POINT (134.05169 -16.38096)
2,3,amg03,20120620,134.031626,-16.778991,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (134.03163 -16.77899)
3,4,amg05,20120621,134.090645,-16.731246,833.612143,906.465000,3541.755000,11522.385000,8737.575000,...,24670.800000,1773.642857,1849.928571,7228.071429,23515.071429,17831.785714,30743.142857,10336.714286,50348.571429,POINT (134.09065 -16.73125)
4,5,amg06,20120621,134.087857,-16.694220,104.279571,113.393000,443.051000,1441.377000,1093.015000,...,3086.160000,221.871429,231.414286,904.185714,2941.585714,2230.642857,3845.771429,1293.057143,6298.285714,POINT (134.08786 -16.69422)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,163,wh07,20120725,130.855214,-17.730620,8.117571,8.827000,34.489000,112.203000,85.085000,...,240.240000,17.271429,18.014286,70.385714,228.985714,173.642857,299.371429,100.657143,490.285714,POINT (130.85521 -17.73062)
163,164,wh08,20120725,130.864855,-17.800306,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (130.86485 -17.80031)
164,165,wh09,20120725,130.827564,-17.849492,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (130.82756 -17.84949)
165,166,wh13,20120726,130.979392,-17.484923,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (130.97939 -17.48492)
166,167,wh15,20120727,130.948318,-17.573536,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (130.94832 -17.57354)

In [30]:
print(gdf.crs)

epsg:4283

In [31]:
gdf.to_file(os.path.join(output_dir, "slats_tern_biomass.shp"), driver = "ESRI Shapefile")