# collate_slats_tern_blue_biolib_agb_datasets_v1

#### Import modules

In [1]:
import pandas as pd
import os
import geopandas as gpd

In [2]:
drive = "G"
date_slats = "20230407"
date_tern = "20230407"
date_bio = "20230407"
date_blue = "20230407"

date_output = "20230407"

#### Inputs

In [3]:
# Slats data
slats_path = r"{0}:\cdu\data\output\{1}\slats_c_bio_site_totals.csv".format(drive, date_slats)
# TERN data
tern_path = r"{0}:\cdu\data\output\{1}\c_tern_bio_site_totals.csv".format(drive, date_tern)
# Tern Portal biomass - biolib
bio_path = r"{0}:\cdu\data\output\{1}\biolib_agb.csv".format(drive, date_bio)
# Blue Folder biomass
blue_path = r"{0}:\cdu\data\output\{1}\blue_folders_c_bio_site_totals.csv".format(drive, date_blue)

In [4]:
output_dir = r"{0}:\cdu\data\output\{1}".format(drive, date_output)
u_output_dir = r"X:\PGB\RSU\biomass\collated_agb\{1}".format(drive, date_output)

In [5]:
# external hard drive

if not os.path.isdir(output_dir):
    os.mkdir(output_dir)

In [6]:
#internal RSU drive

if not os.path.isdir(u_output_dir):
    os.mkdir(u_output_dir)

#### Outputs

In [7]:
slats = pd.read_csv(slats_path)
tern = pd.read_csv(tern_path)
bio = pd.read_csv(bio_path)
blue = pd.read_csv(blue_path)

In [8]:
print(f"slats shape {slats.shape}")
print(f"tern shape {tern.shape}")
print(f"biolib shape {bio.shape}")
print(f"blue shape {blue.shape}")

slats shape (104, 21)
tern shape (63, 21)
biolib shape (892, 8)
blue shape (204, 21)

In [9]:
blue

,uid,site,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,bio_br_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
0,1,LC1_1_1,20010109,131.176949,-14.018054,0.005209,0.005664,0.022129,0.071994,0.054594,...,0.031647,0.154147,0.011082,0.011559,0.045162,0.146926,0.111416,0.192088,0.064585,0.314585
1,12,LC1_2_2,20010109,131.160438,-12.210853,0.009260,0.010069,0.039341,0.127989,0.097055,...,0.056261,0.274039,0.019701,0.020549,0.080288,0.261201,0.198072,0.341489,0.114818,0.559263
2,24,FD1_1_1,20010109,131.314921,-12.561472,0.173618,0.188791,0.737647,2.399786,1.819789,...,1.054894,5.138227,0.369399,0.385288,1.505402,4.897521,3.713854,6.402923,2.152844,10.486177
3,171,LD9_2_2,20000907,131.091727,-12.703234,2.138381,2.320744,6.231289,39.489198,14.600587,...,9.904278,62.184980,4.549748,4.736213,12.716917,80.590201,29.797117,93.307118,20.212813,126.908122
4,175,LD9_1_1,20000713,131.091026,-12.702977,0.100810,0.109304,0.458236,3.844561,0.788251,...,1.139285,5.196149,0.214490,0.223070,0.935176,7.846044,1.608675,8.781220,2.325071,10.604385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,758,BW12_1_1,20001104,135.435848,-15.572706,0.055751,0.060623,0.236867,0.770598,0.584354,...,0.338738,1.649942,0.118618,0.123720,0.483401,1.572649,1.192560,2.056050,0.691302,3.367228
200,767,BW13_2_2,20001105,135.036907,-14.908739,7.670431,8.340782,32.589243,106.022524,80.398264,...,46.605197,227.006864,16.320067,17.022005,66.508659,216.372498,164.078090,282.881157,95.112647,463.279314
201,770,BW13_1_2,20001105,135.036200,-14.908929,7.347502,7.989631,31.217220,101.558923,77.013457,...,44.643095,217.449762,15.632984,16.305370,63.708611,207.263108,157.170321,270.971719,91.108357,443.775024
202,773,BW14_2_2,20001105,135.293508,-15.170310,2.697144,2.927159,7.859537,49.807796,18.415747,...,12.492284,78.434026,5.738605,5.973793,16.039870,101.648563,37.583157,117.688433,25.494457,160.069440
203,777,BW14_1_2,20001105,135.294374,-15.170382,2.236064,2.426757,6.515938,41.293084,15.267549,...,10.356710,65.025619,4.757582,4.952565,13.297832,84.271599,31.158264,97.569431,21.136144,132.705345

In [10]:
# sorted(slats.site.unique())

In [11]:
tern.shape

(63, 21)

In [12]:
df = pd.concat([slats, tern, bio, blue])

In [13]:
df.shape

(1263, 23)

In [14]:
df

,uid,site,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,bio_br_kg1ha,...,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha,bio_bgb_kg1ha,bio_tb_kg1ha
0,1,lit01,20130426,131.061917,-12.547912,942.014286,1022.490000,3136.490000,14298.900000,7238.980000,...,2004.285714,2086.714286,6401.000000,29181.428571,14773.428571,35582.428571,9756.000000,52214.428571,NaN,NaN
1,6,girra02,20120605,131.132000,-12.523407,105.528429,114.751000,448.357000,1458.639000,1106.105000,...,224.528571,234.185714,915.014286,2976.814286,2257.357143,3891.828571,1308.542857,6373.714286,NaN,NaN
2,24,umb07,20130603,131.674500,-13.962300,197.215357,214.025000,735.630000,4680.007500,1542.922500,...,419.607143,436.785714,1501.285714,9551.035714,3148.821429,11052.321429,2884.214286,14592.892857,NaN,NaN
3,105,jdr01,20120522,131.599700,-13.883786,458.401071,497.332500,2054.482500,15090.600000,3846.150000,...,975.321429,1014.964286,4192.821429,30797.142857,7849.285714,34989.964286,9523.714286,43814.571429,NaN,NaN
4,106,jdr02,20120523,131.600246,-13.857266,778.252857,844.900000,2442.860000,13762.840000,5792.920000,...,1655.857143,1724.285714,4985.428571,28087.428571,11822.285714,33072.857143,7742.857143,46325.285714,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,758,BW12_1_1,20001104,135.435848,-15.572706,0.055751,0.060623,0.236867,0.770598,0.584354,...,0.118618,0.123720,0.483401,1.572649,1.192560,2.056050,0.691302,3.367228,NaN,NaN
200,767,BW13_2_2,20001105,135.036907,-14.908739,7.670431,8.340782,32.589243,106.022524,80.398264,...,16.320067,17.022005,66.508659,216.372498,164.078090,282.881157,95.112647,463.279314,NaN,NaN
201,770,BW13_1_2,20001105,135.036200,-14.908929,7.347502,7.989631,31.217220,101.558923,77.013457,...,15.632984,16.305370,63.708611,207.263108,157.170321,270.971719,91.108357,443.775024,NaN,NaN
202,773,BW14_2_2,20001105,135.293508,-15.170310,2.697144,2.927159,7.859537,49.807796,18.415747,...,5.738605,5.973793,16.039870,101.648563,37.583157,117.688433,25.494457,160.069440,NaN,NaN
203,777,BW14_1_2,20001105,135.294374,-15.170382,2.236064,2.426757,6.515938,41.293084,15.267549,...,4.757582,4.952565,13.297832,84.271599,31.158264,97.569431,21.136144,132.705345,NaN,NaN

In [15]:
site_new = []
for index, row in df.iterrows():
    site = row.site
    date = str(row.date)

    site_new.append(f"{site.lower()}_{str(date[:4])}")

df.rename(columns={"site": "site_name"}, inplace=True)
df.insert(1, "site", site_new)

In [16]:
df.sort_values(by=['site'], inplace=True)

In [17]:
df.reset_index(inplace=True, drop=True)
df["uid"] = df.index + 1
df

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha,bio_bgb_kg1ha,bio_tb_kg1ha
0,1,adelaideriver_2008,AdelaideRiver,20080905,131.117800,-13.076900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7512.8,37242.8
1,2,agb02_2012,agb02,20120417,131.005190,-12.647291,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2,3,amg01_2012,amg01,20120619,134.051686,-16.380958,413.634375,448.552832,1310.224441,3748.311503,...,880.073138,915.413944,2673.927432,7649.615312,5890.702698,10323.542743,3697.214286,17094.318579,NaN,NaN
3,4,amg03_2012,amg03,20120620,134.031626,-16.778991,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
4,5,amg05_2012,amg05,20120621,134.090645,-16.731246,833.612143,906.465000,3541.755000,11522.385000,...,1773.642857,1849.928571,7228.071429,23515.071429,17831.785714,30743.142857,10336.714286,50348.571429,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1258,1259,wh15_2012,wh15,20120727,130.948318,-17.573536,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
1259,1260,ws1_1_2_2001,WS1_1_2,20010222,132.306489,-12.742793,0.174447,0.189146,0.792956,6.652832,...,0.371165,0.386011,1.618278,13.577208,2.783736,15.195486,4.023426,18.350387,NaN,NaN
1260,1261,ws1_2_2_2001,WS1_2_2,20010222,132.305532,-12.741944,0.267741,0.290574,0.780202,4.944328,...,0.569661,0.593007,1.592248,10.090465,3.730811,11.682714,2.530788,15.889798,NaN,NaN
1261,1262,ws2_1_2_2001,WS2_1_2,20010222,132.092449,-12.823036,0.212407,0.230303,0.965502,8.100475,...,0.451930,0.470007,1.970413,16.531582,3.389471,18.501995,4.898916,22.343396,NaN,NaN
1262,1263,ws2_2_2_2001,WS2_2_2,20010222,132.091551,-12.822710,0.174447,0.189146,0.792956,6.652832,...,0.371165,0.386011,1.618278,13.577208,2.783736,15.195486,4.023426,18.350387,NaN,NaN

In [18]:
#Count duplicate on certain columns
df.duplicated(subset=['site']).sum()

0

In [19]:
# Extract duplicate rows
df.loc[df.duplicated(subset=["site"]), :]

Empty DataFrame
Columns: [uid, site, site_name, date, lon_gda94, lat_gda94, bio_l_kg1ha, bio_t_kg1ha, bio_b_kg1ha, bio_w_kg1ha, bio_br_kg1ha, bio_s_kg1ha, bio_r_kg1ha, bio_agb_kg1ha, c_l_kg1ha, c_t_kg1ha, c_b_kg1ha, c_w_kg1ha, c_br_kg1ha, c_s_kg1ha, c_r_kg1ha, c_agb_kg1ha, bio_bgb_kg1ha, bio_tb_kg1ha]
Index: []

[0 rows x 24 columns]

In [20]:
df.sample(20)

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha,bio_bgb_kg1ha,bio_tb_kg1ha
969,970,nnp19_1995,NNP19,19950101,132.518000,-13.973700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40371.4,189604.2
56,57,bw9_2_2_2000,BW9_2_2,20001101,137.140616,-16.813650,1.143755,1.243713,4.859454,15.809254,...,2.433521,2.538189,9.917254,32.263783,24.466048,42.181037,14.182458,69.080606,NaN,NaN
1045,1046,nnp36_1995,NNP36,19950101,132.687900,-14.367000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112452.2,550217.3
345,346,knp146_2013,KNP146,20130101,132.374900,-12.550600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,252467.7,1264988.5
664,665,knp92_1995,KNP92,19950101,132.946700,-12.432100,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172282.4,785584.6
1205,1206,sa14_1_2_2000,SA14_1_2,20001105,133.574634,-14.946002,0.055751,0.060623,0.236867,0.770598,...,0.118618,0.123720,0.483401,1.572649,1.192560,2.056050,0.691302,3.367228,NaN,NaN
1059,1060,nnp39_2005,NNP39,20050101,132.572000,-14.393700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202573.6,1043352.0
192,193,jdr02_2012,jdr02,20120523,131.600246,-13.857266,778.252857,844.900000,2442.860000,13762.840000,...,1655.857143,1724.285714,4985.428571,28087.428571,11822.285714,33072.857143,7742.857143,46325.285714,NaN,NaN
251,252,knp121_1999,KNP121,19990101,132.986600,-12.845600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14982.0,56820.2
552,553,knp63_1995,KNP63,19950101,132.981300,-13.177800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80182.5,394330.7
334,335,knp143_2009,KNP143,20090101,132.954900,-12.541000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129471.7,659889.3
989,990,nnp23_1995,NNP23,19950101,132.381000,-13.817600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150163.6,705612.3
175,176,gul33_2006,GUL33,20060101,132.871300,-12.733500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23965.9,107093.8
542,543,knp60_2004,KNP60,20040101,132.817700,-13.218300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148730.7,764528.4
850,851,lnp38_2011,LNP38,20110101,130.965500,-13.264300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83798.8,401236.2
979,980,nnp20_2005,NNP20,20050101,132.493900,-13.943000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34418.5,164785.5
581,582,knp69_2009,KNP69,20090101,132.643000,-13.295000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78124.8,385341.1
582,583,knp6_1995,KNP6,19950101,132.704600,-13.565500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25705.5,120831.1
87,88,fa12_2_2_2000,FA12_2_2,20001006,135.746708,-12.710330,1.421707,1.542952,4.142886,26.254475,...,3.024909,3.148881,8.454869,53.580562,19.810675,62.035431,13.438531,84.375128,NaN,NaN
681,682,knp97_1995,KNP97,19950101,132.609500,-12.149600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132404.6,708586.4

In [29]:
# Extenal hard drive

out = os.path.join(output_dir, "slats_tern_blue_biolib_biomass.csv")

df.to_csv(os.path.join(out), index = False)
print("file exported: ", out)

file exported:  G:\cdu\data\output\20230407\slats_tern_blue_biolib_biomass.csv

In [23]:
#Internal RSU drive

out = os.path.join(u_output_dir, "slats_tern_blue_biolib_biomass.csv")

df.to_csv(os.path.join(out), index = False)
print("file exported: ", out)

file exported:  X:\PGB\RSU\biomass\collated_agb\20230407\slats_tern_blue_biolib_biomass.csv

In [24]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.lon_gda94, df.lat_gda94))

In [25]:
gdf.set_crs("epsg:4283", inplace=True)

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha,bio_bgb_kg1ha,bio_tb_kg1ha,geometry
0,1,adelaideriver_2008,AdelaideRiver,20080905,131.117800,-13.076900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7512.8,37242.8,POINT (131.11780 -13.07690)
1,2,agb02_2012,agb02,20120417,131.005190,-12.647291,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,POINT (131.00519 -12.64729)
2,3,amg01_2012,amg01,20120619,134.051686,-16.380958,413.634375,448.552832,1310.224441,3748.311503,...,915.413944,2673.927432,7649.615312,5890.702698,10323.542743,3697.214286,17094.318579,NaN,NaN,POINT (134.05169 -16.38096)
3,4,amg03_2012,amg03,20120620,134.031626,-16.778991,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,POINT (134.03163 -16.77899)
4,5,amg05_2012,amg05,20120621,134.090645,-16.731246,833.612143,906.465000,3541.755000,11522.385000,...,1849.928571,7228.071429,23515.071429,17831.785714,30743.142857,10336.714286,50348.571429,NaN,NaN,POINT (134.09065 -16.73125)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1258,1259,wh15_2012,wh15,20120727,130.948318,-17.573536,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,POINT (130.94832 -17.57354)
1259,1260,ws1_1_2_2001,WS1_1_2,20010222,132.306489,-12.742793,0.174447,0.189146,0.792956,6.652832,...,0.386011,1.618278,13.577208,2.783736,15.195486,4.023426,18.350387,NaN,NaN,POINT (132.30649 -12.74279)
1260,1261,ws1_2_2_2001,WS1_2_2,20010222,132.305532,-12.741944,0.267741,0.290574,0.780202,4.944328,...,0.593007,1.592248,10.090465,3.730811,11.682714,2.530788,15.889798,NaN,NaN,POINT (132.30553 -12.74194)
1261,1262,ws2_1_2_2001,WS2_1_2,20010222,132.092449,-12.823036,0.212407,0.230303,0.965502,8.100475,...,0.470007,1.970413,16.531582,3.389471,18.501995,4.898916,22.343396,NaN,NaN,POINT (132.09245 -12.82304)
1262,1263,ws2_2_2_2001,WS2_2_2,20010222,132.091551,-12.822710,0.174447,0.189146,0.792956,6.652832,...,0.386011,1.618278,13.577208,2.783736,15.195486,4.023426,18.350387,NaN,NaN,POINT (132.09155 -12.82271)

In [26]:
print(gdf.crs)

epsg:4283

In [27]:
# external hard drive
gdf.to_file(os.path.join(output_dir, "slats_tern_blue_biolib_biomass.shp"), driver = "ESRI Shapefile")

In [28]:
# internal RSU drive
gdf.to_file(os.path.join(u_output_dir, "slats_tern_blue_biolib_biomass.shp"), driver = "ESRI Shapefile")