# collate_slats_tern

#### Import modules

In [1]:
import pandas as pd
import os
import geopandas as gpd

In [2]:
# drive = "G"
# date_slats = "20230407"
# date_tern = "20230407"
# date_bio = "20230407"
# date_blue = "20230407"

# date_output = "20231103"

In [3]:
drive = "G"
date_slats = "20240318"
date_tern = "20240318"
date_bio = "20240318"
date_blue = "20240318"

date_output = "20240318"

#### Inputs

In [4]:
# # Slats data
# #slats_path = r"{0}:\cdu\data\output\{1}\slats_c_bio_site_totals.csv".format(drive, date_slats)
# slats_path = r"X:\PGB\RSU\biomass\agb\20231102\slats_c_bio_site_totals.csv"
# # TERN data
# #tern_path = r"{0}:\cdu\data\output\{1}\c_tern_bio_site_totals.csv".format(drive, date_tern)
# tern_path = r"X:\PGB\RSU\biomass\agb\20230729\tern_c_bio_site_totals.csv"
# # Tern Portal biomass - biolib
# # bio_path = r"{0}:\cdu\data\output\{1}\biolib_agb.csv".format(drive, date_bio)
# # # Blue Folder biomass
# # blue_path = r"{0}:\cdu\data\output\{1}\blue_folders_c_bio_site_totals.csv".format(drive, date_blue)

In [5]:
# Slats data
#slats_path = r"{0}:\cdu\data\output\{1}\slats_c_bio_site_totals.csv".format(drive, date_slats)
slats_path = r"X:\PGB\RSU\biomass\agb\20240318\slats_c_bio_site_totals.csv"
# TERN data
#tern_path = r"{0}:\cdu\data\output\{1}\c_tern_bio_site_totals.csv".format(drive, date_tern)
tern_path = r"X:\PGB\RSU\biomass\agb\20240318\tern_c_bio_site_totals.csv"
# Tern Portal biomass - biolib
# bio_path = r"{0}:\cdu\data\output\{1}\biolib_agb.csv".format(drive, date_bio)
# # Blue Folder biomass
# blue_path = r"{0}:\cdu\data\output\{1}\blue_folders_c_bio_site_totals.csv".format(drive, date_blue)

In [6]:
#output_dir = r"{0}:\cdu\data\output\{1}".format(drive, date_output)
output_dir = r"D:\biomass\collate_agb\{0}".format(date_output)
u_output_dir = r"X:\PGB\RSU\biomass\collated_agb\{0}".format(date_output)

In [7]:
# external hard drive

if not os.path.isdir(output_dir):
    os.mkdir(output_dir)

In [8]:
#internal RSU drive

if not os.path.isdir(u_output_dir):
    os.mkdir(u_output_dir)

#### Outputs

In [9]:
slats = pd.read_csv(slats_path)
tern = pd.read_csv(tern_path)
#bio = pd.read_csv(bio_path)
#blue = pd.read_csv(blue_path)

In [10]:
print(f"slats shape {slats.shape}")
print(f"tern shape {tern.shape}")
#print(f"biolib shape {bio.shape}")
#print(f"blue shape {blue.shape}")

slats shape (126, 21)
tern shape (63, 21)

In [11]:
tern.shape

(63, 21)

In [12]:
df = pd.concat([slats, tern])#, bio, blue])

In [13]:
df.shape

(189, 21)

In [14]:
df

,uid,site,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,bio_br_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
0,1,lit01,20130426,131.061917,-12.547912,942.014286,1022.490000,3136.490000,14298.900000,7238.980000,...,4780.440000,25585.070000,2004.285714,2086.714286,6401.000000,29181.428571,14773.428571,35582.428571,9756.000000,52214.428571
1,6,girra02,20120605,131.132000,-12.523407,105.528429,114.751000,448.357000,1458.639000,1106.105000,...,641.186000,3123.120000,224.528571,234.185714,915.014286,2976.814286,2257.357143,3891.828571,1308.542857,6373.714286
2,24,umb07,20130603,131.674500,-13.962300,197.215357,214.025000,735.630000,4680.007500,1542.922500,...,1413.265000,7150.517500,419.607143,436.785714,1501.285714,9551.035714,3148.821429,11052.321429,2884.214286,14592.892857
3,105,jdr01,20120522,131.599700,-13.883786,458.401071,497.332500,2054.482500,15090.600000,3846.150000,...,4666.620000,21469.140000,975.321429,1014.964286,4192.821429,30797.142857,7849.285714,34989.964286,9523.714286,43814.571429
4,106,jdr02,20120523,131.600246,-13.857266,778.252857,844.900000,2442.860000,13762.840000,5792.920000,...,3794.000000,22699.390000,1655.857143,1724.285714,4985.428571,28087.428571,11822.285714,33072.857143,7742.857143,46325.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,59,NTTDAB0001,20140317,131.674000,-13.962880,185.030312,200.853970,721.494709,4285.741048,1535.258200,...,1358.964812,6726.414567,393.681515,409.906061,1472.438182,8746.410303,3133.180000,10218.848485,2773.397576,13727.376667
59,60,NTTDAC0001,20140318,130.795700,-13.139830,367.116478,398.419544,1127.638089,6481.816094,2602.007528,...,1794.287989,10544.601278,781.098889,813.101111,2301.302222,13228.196111,5310.219444,15529.498333,3661.812222,21519.594444
60,61,NTTMGD0001,20140315,133.423900,-17.282970,139.958726,152.190306,594.640472,1934.542750,1466.989028,...,850.382944,4142.086667,297.784524,310.592460,1213.551984,3948.046429,2993.855159,5161.598413,1735.475397,8453.238095
61,62,NTTPCK0001,20140319,131.127000,-12.871960,297.417940,322.857811,1017.275039,4993.764689,2329.594167,...,1617.487589,8627.187917,632.804127,658.893492,2076.071508,10191.356508,4754.273810,12267.428016,3300.995079,17606.505952
62,63,NTTSTU0001,20140315,133.271200,-16.630240,697.113792,758.037486,2961.816569,9635.672375,7306.856181,...,4235.632139,20631.123333,1483.220833,1547.015278,6044.523611,19664.637500,14911.951389,25709.161111,8644.147222,42104.333333

In [15]:
site_new = []
siteyear_list = []
for index, row in df.iterrows():
    site = row.site
    date = str(row.date)

    site_new.append(f"{site.lower()}_{str(date[:4])}")

df.rename(columns={"site": "site_name"}, inplace=True)
df.insert(1, "site", site_new)

In [16]:
df

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
0,1,lit01_2013,lit01,20130426,131.061917,-12.547912,942.014286,1022.490000,3136.490000,14298.900000,...,4780.440000,25585.070000,2004.285714,2086.714286,6401.000000,29181.428571,14773.428571,35582.428571,9756.000000,52214.428571
1,6,girra02_2012,girra02,20120605,131.132000,-12.523407,105.528429,114.751000,448.357000,1458.639000,...,641.186000,3123.120000,224.528571,234.185714,915.014286,2976.814286,2257.357143,3891.828571,1308.542857,6373.714286
2,24,umb07_2013,umb07,20130603,131.674500,-13.962300,197.215357,214.025000,735.630000,4680.007500,...,1413.265000,7150.517500,419.607143,436.785714,1501.285714,9551.035714,3148.821429,11052.321429,2884.214286,14592.892857
3,105,jdr01_2012,jdr01,20120522,131.599700,-13.883786,458.401071,497.332500,2054.482500,15090.600000,...,4666.620000,21469.140000,975.321429,1014.964286,4192.821429,30797.142857,7849.285714,34989.964286,9523.714286,43814.571429
4,106,jdr02_2012,jdr02,20120523,131.600246,-13.857266,778.252857,844.900000,2442.860000,13762.840000,...,3794.000000,22699.390000,1655.857143,1724.285714,4985.428571,28087.428571,11822.285714,33072.857143,7742.857143,46325.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,59,nttdab0001_2014,NTTDAB0001,20140317,131.674000,-13.962880,185.030312,200.853970,721.494709,4285.741048,...,1358.964812,6726.414567,393.681515,409.906061,1472.438182,8746.410303,3133.180000,10218.848485,2773.397576,13727.376667
59,60,nttdac0001_2014,NTTDAC0001,20140318,130.795700,-13.139830,367.116478,398.419544,1127.638089,6481.816094,...,1794.287989,10544.601278,781.098889,813.101111,2301.302222,13228.196111,5310.219444,15529.498333,3661.812222,21519.594444
60,61,nttmgd0001_2014,NTTMGD0001,20140315,133.423900,-17.282970,139.958726,152.190306,594.640472,1934.542750,...,850.382944,4142.086667,297.784524,310.592460,1213.551984,3948.046429,2993.855159,5161.598413,1735.475397,8453.238095
61,62,nttpck0001_2014,NTTPCK0001,20140319,131.127000,-12.871960,297.417940,322.857811,1017.275039,4993.764689,...,1617.487589,8627.187917,632.804127,658.893492,2076.071508,10191.356508,4754.273810,12267.428016,3300.995079,17606.505952
62,63,nttstu0001_2014,NTTSTU0001,20140315,133.271200,-16.630240,697.113792,758.037486,2961.816569,9635.672375,...,4235.632139,20631.123333,1483.220833,1547.015278,6044.523611,19664.637500,14911.951389,25709.161111,8644.147222,42104.333333

In [17]:
df.sort_values(by=['site'], inplace=True)

In [18]:
df.reset_index(inplace=True, drop=True)
df["uid"] = df.index + 1
df

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
0,1,agb02_2012,agb02,20120417,131.005190,-12.647291,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,amg01_2012,amg01,20120619,134.051686,-16.380958,413.634375,448.552832,1310.224441,3748.311503,...,1811.635,8376.216104,880.073138,915.413944,2673.927432,7649.615312,5890.702698,10323.542743,3697.214286,17094.318579
2,3,amg03_2012,amg03,20120620,134.031626,-16.778991,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,amg05_2012,amg05,20120621,134.090645,-16.731246,833.612143,906.465000,3541.755000,11522.385000,...,5064.990,24670.800000,1773.642857,1849.928571,7228.071429,23515.071429,17831.785714,30743.142857,10336.714286,50348.571429
4,5,amg06_2012,amg06,20120621,134.087857,-16.694220,104.279571,113.393000,443.051000,1441.377000,...,633.598,3086.160000,221.871429,231.414286,904.185714,2941.585714,2230.642857,3845.771429,1293.057143,6298.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,185,wh07_2012,wh07,20120725,130.855214,-17.730620,8.117571,8.827000,34.489000,112.203000,...,49.322,240.240000,17.271429,18.014286,70.385714,228.985714,173.642857,299.371429,100.657143,490.285714
185,186,wh08_2012,wh08,20120725,130.864855,-17.800306,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
186,187,wh09_2012,wh09,20120725,130.827564,-17.849492,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
187,188,wh13_2012,wh13,20120726,130.979392,-17.484923,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188,189,wh15_2012,wh15,20120727,130.948318,-17.573536,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [19]:
#Count duplicate on certain columns
df.duplicated(subset=['site']).sum()

0

In [20]:
# Extract duplicate rows
df.loc[df.duplicated(subset=["site"]), :]

Empty DataFrame
Columns: [uid, site, site_name, date, lon_gda94, lat_gda94, bio_l_kg1ha, bio_t_kg1ha, bio_b_kg1ha, bio_w_kg1ha, bio_br_kg1ha, bio_s_kg1ha, bio_r_kg1ha, bio_agb_kg1ha, c_l_kg1ha, c_t_kg1ha, c_b_kg1ha, c_w_kg1ha, c_br_kg1ha, c_s_kg1ha, c_r_kg1ha, c_agb_kg1ha]
Index: []

[0 rows x 22 columns]

In [21]:
df.sample(20)

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
88,89,ntagfu0010_2012,NTAGFU0010,20120509,137.100600,-17.896280,43.710000,47.530000,185.710000,604.170000,...,265.580000,1293.600000,93.000000,97.000000,379.000000,1233.000000,935.000000,1612.000000,542.000000,2640.000000
172,173,vrd33_2012,vrd33,20120801,131.160954,-16.160515,1.873286,2.037000,7.959000,25.893000,...,11.382000,55.440000,3.985714,4.157143,16.242857,52.842857,40.071429,69.085714,23.228571,113.142857
174,175,vrd35_2012,vrd35,20120802,131.188841,-16.102733,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
84,85,ntagfu0006_2012,NTAGFU0006,20120418,136.847100,-18.778690,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,11,ant04_2012,ant04,20120624,135.084342,-18.250958,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
110,111,ntagfu0032_2012,NTAGFU0032,20120707,134.373600,-14.150620,83.595375,90.901125,355.170375,1155.475125,...,507.921750,2474.010000,177.862500,185.512500,724.837500,2358.112500,1788.187500,3082.950000,1036.575000,5049.000000
180,181,wh03_2012,wh03,20120724,130.758975,-18.035688,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,42,hsf01_2012,hsf01,20120710,131.031329,-12.469290,864.195714,939.680000,3670.415000,12087.775000,...,5273.660000,25701.690000,1838.714286,1917.714286,7490.642857,24668.928571,18454.071429,32159.642857,10762.571429,52452.428571
142,143,site06_2023,site06,20230908,131.003818,-12.651162,383.385714,416.430000,1434.300000,5776.680000,...,2162.580000,10982.860000,815.714286,849.857143,2927.142857,11789.142857,6913.428571,14716.285714,4413.428571,22414.000000
128,129,ntastu0002_2016,NTASTU0002,20160501,133.378200,-15.767840,212.791521,231.255840,855.971132,2729.401062,...,1217.426097,5881.698667,452.747917,471.950694,1746.879861,5570.206250,4233.632639,7317.086111,2484.543056,12003.466667
8,9,ant02_2012,ant02,20120624,135.040954,-18.224490,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90,91,ntagfu0012_2012,NTAGFU0012,20120511,137.019000,-17.895640,60.708333,66.013889,257.930556,839.125000,...,368.861111,1796.666667,129.166667,134.722222,526.388889,1712.500000,1298.611111,2238.888889,752.777778,3666.666667
42,43,hsf02_2012,hsf02,20120710,131.046194,-12.473082,899.848571,978.355000,3741.675000,12764.080000,...,5387.480000,26636.295000,1914.571429,1996.642857,7636.071429,26049.142857,18781.428571,33685.214286,10994.857143,54359.785714
32,33,centa14_2012,centa14,20120602,133.292003,-14.403075,271.978929,295.312500,906.675000,4344.112500,...,1365.840000,7658.542500,578.678571,602.678571,1850.357143,8865.535714,4390.821429,10715.892857,2787.428571,15629.678571
105,106,ntagfu0027_2012,NTAGFU0027,20120613,135.460600,-15.679270,210.733900,229.089700,873.135900,2815.035300,...,1245.570200,6044.738000,448.370000,467.530000,1781.910000,5744.970000,4360.950000,7526.880000,2541.980000,12336.200000
45,46,jdr02_2012,jdr02,20120523,131.600246,-13.857266,778.252857,844.900000,2442.860000,13762.840000,...,3794.000000,22699.390000,1655.857143,1724.285714,4985.428571,28087.428571,11822.285714,33072.857143,7742.857143,46325.285714
21,22,auv08_2012,auv08,20121011,129.624640,-16.198472,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,15,antgr01_2012,antgr01,20120626,135.199061,-18.243480,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,18,auv03_2012,auv03,20121010,129.978938,-15.710431,45.583286,49.567000,193.669000,630.063000,...,276.962000,1349.040000,96.985714,101.157143,395.242857,1285.842857,975.071429,1681.085714,565.228571,2753.142857
70,71,nt001_2011,nt001,20110523,131.209577,-13.945196,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [22]:
# Extenal hard drive

out = os.path.join(output_dir, "slats_tern_biomass.csv")

df.to_csv(os.path.join(out), index = False)
print("file exported: ", out)

file exported:  D:\biomass\collate_agb\20240318\slats_tern_biomass.csv

In [23]:
#Internal RSU drive

out = os.path.join(u_output_dir, "slats_tern_biomass.csv")

df.to_csv(os.path.join(out), index = False)
print("file exported: ", out)

file exported:  X:\PGB\RSU\biomass\collated_agb\20240318\slats_tern_biomass.csv

In [24]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.lon_gda94, df.lat_gda94))

In [25]:
gdf.set_crs("epsg:4283", inplace=True)

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha,geometry
0,1,agb02_2012,agb02,20120417,131.005190,-12.647291,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (131.00519 -12.64729)
1,2,amg01_2012,amg01,20120619,134.051686,-16.380958,413.634375,448.552832,1310.224441,3748.311503,...,8376.216104,880.073138,915.413944,2673.927432,7649.615312,5890.702698,10323.542743,3697.214286,17094.318579,POINT (134.05169 -16.38096)
2,3,amg03_2012,amg03,20120620,134.031626,-16.778991,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (134.03163 -16.77899)
3,4,amg05_2012,amg05,20120621,134.090645,-16.731246,833.612143,906.465000,3541.755000,11522.385000,...,24670.800000,1773.642857,1849.928571,7228.071429,23515.071429,17831.785714,30743.142857,10336.714286,50348.571429,POINT (134.09065 -16.73125)
4,5,amg06_2012,amg06,20120621,134.087857,-16.694220,104.279571,113.393000,443.051000,1441.377000,...,3086.160000,221.871429,231.414286,904.185714,2941.585714,2230.642857,3845.771429,1293.057143,6298.285714,POINT (134.08786 -16.69422)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,185,wh07_2012,wh07,20120725,130.855214,-17.730620,8.117571,8.827000,34.489000,112.203000,...,240.240000,17.271429,18.014286,70.385714,228.985714,173.642857,299.371429,100.657143,490.285714,POINT (130.85521 -17.73062)
185,186,wh08_2012,wh08,20120725,130.864855,-17.800306,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (130.86485 -17.80031)
186,187,wh09_2012,wh09,20120725,130.827564,-17.849492,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (130.82756 -17.84949)
187,188,wh13_2012,wh13,20120726,130.979392,-17.484923,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (130.97939 -17.48492)
188,189,wh15_2012,wh15,20120727,130.948318,-17.573536,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,POINT (130.94832 -17.57354)

In [26]:
print(gdf.crs)

epsg:4283

In [27]:
# external hard drive
gdf.to_file(os.path.join(output_dir, "slats_tern_biomass.shp"), driver = "ESRI Shapefile")

In [28]:
# internal RSU drive
gdf.to_file(os.path.join(u_output_dir, "slats_tern_biomass.shp"), driver = "ESRI Shapefile")

In [29]:
print("exported to: ", os.path.join(output_dir, "slats_tern_biomass.shp"))

exported to:  D:\biomass\collate_agb\20240318\slats_tern_biomass.shp