# collate_slats_tern

#### Import modules

In [1]:
import pandas as pd
import os
import geopandas as gpd

In [2]:
# drive = "G"
# date_slats = "20230407"
# date_tern = "20230407"
# date_bio = "20230407"
# date_blue = "20230407"

# date_output = "20231103"

In [3]:
# drive = "G"
# date_slats = "20240318"
# date_tern = "20240318"
# date_bio = "20240318"
# date_blue = "20240318"

# date_output = "20240318"

## Lenovo

In [4]:
drive = "D"
date_slats = "20240707"
date_tern = "20240707"
# date_bio = "20240318"
# date_blue = "20240318"

date_output = "20240707"

#### Inputs

In [5]:
# # Slats data
# #slats_path = r"{0}:\cdu\data\output\{1}\slats_c_bio_site_totals.csv".format(drive, date_slats)
# slats_path = r"X:\PGB\RSU\biomass\agb\20231102\slats_c_bio_site_totals.csv"
# # TERN data
# #tern_path = r"{0}:\cdu\data\output\{1}\c_tern_bio_site_totals.csv".format(drive, date_tern)
# tern_path = r"X:\PGB\RSU\biomass\agb\20230729\tern_c_bio_site_totals.csv"
# # Tern Portal biomass - biolib
# # bio_path = r"{0}:\cdu\data\output\{1}\biolib_agb.csv".format(drive, date_bio)
# # # Blue Folder biomass
# # blue_path = r"{0}:\cdu\data\output\{1}\blue_folders_c_bio_site_totals.csv".format(drive, date_blue)

In [6]:
# Slats data
#slats_path = r"{0}:\cdu\data\output\{1}\slats_c_bio_site_totals.csv".format(drive, date_slats)
slats_path = r"C:\Users\robot\projects\biomass\agb\{0}\slats_c_bio_site_totals.csv".format(date_slats)
# TERN data
#tern_path = r"{0}:\cdu\data\output\{1}\c_tern_bio_site_totals.csv".format(drive, date_tern)
tern_path = r"C:\Users\robot\projects\biomass\agb\{0}\tern_c_bio_site_totals.csv".format(date_tern)
# Tern Portal biomass - biolib
# bio_path = r"{0}:\cdu\data\output\{1}\biolib_agb.csv".format(drive, date_bio)
# # Blue Folder biomass
# blue_path = r"{0}:\cdu\data\output\{1}\blue_folders_c_bio_site_totals.csv".format(drive, date_blue)

In [7]:
#output_dir = r"{0}:\cdu\data\output\{1}".format(drive, date_output)
output_dir = r"{0}:\biomass\collate_agb\{1}".format(drive, date_output)
u_output_dir = r"C:\Users\robot\projects\biomass\collated_agb\{0}".format(date_output)

In [8]:
# external hard drive

if not os.path.isdir(output_dir):
    os.mkdir(output_dir)

In [9]:
#internal RSU drive

if not os.path.isdir(u_output_dir):
    os.mkdir(u_output_dir)

#### Outputs

In [10]:
tern_path

'C:\\Users\\robot\\projects\\biomass\\agb\\20240707\\tern_c_bio_site_totals.csv'

In [11]:
slats = pd.read_csv(slats_path)
tern = pd.read_csv(tern_path)
#bio = pd.read_csv(bio_path)
#blue = pd.read_csv(blue_path)

In [12]:
print(f"slats shape {slats.shape}")
print(f"tern shape {tern.shape}")
#print(f"biolib shape {bio.shape}")
#print(f"blue shape {blue.shape}")

slats shape (137, 21)
tern shape (63, 21)

In [13]:
tern.shape

(63, 21)

In [14]:
df = pd.concat([slats, tern])#, bio, blue])

In [15]:
df.shape

(200, 21)

In [16]:
df

,uid,site,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,bio_br_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
0,1,lit01,20130426,131.061917,-12.547912,942.014286,1022.490000,3136.490000,14298.900000,7238.980000,...,4780.440000,25585.070000,2004.285714,2086.714286,6401.000000,29181.428571,14773.428571,35582.428571,9756.000000,52214.428571
1,6,girra02,20120605,131.132000,-12.523407,105.528429,114.751000,448.357000,1458.639000,1106.105000,...,641.186000,3123.120000,224.528571,234.185714,915.014286,2976.814286,2257.357143,3891.828571,1308.542857,6373.714286
2,24,umb07,20130603,131.674475,-13.962273,197.215357,214.025000,735.630000,4680.007500,1542.922500,...,1413.265000,7150.517500,419.607143,436.785714,1501.285714,9551.035714,3148.821429,11052.321429,2884.214286,14592.892857
3,64,vrd16,20120727,130.882430,-17.274225,0.624429,0.679000,2.653000,8.631000,6.545000,...,3.794000,18.480000,1.328571,1.385714,5.414286,17.614286,13.357143,23.028571,7.742857,37.714286
4,68,vrd20,20120728,130.899041,-17.102125,5.619857,6.111000,23.877000,77.679000,58.905000,...,34.146000,166.320000,11.957143,12.471429,48.728571,158.528571,120.214286,207.257143,69.685714,339.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,59,NTTDAB0001,20140317,131.674000,-13.962880,185.030312,200.853970,721.494709,4285.741048,1535.258200,...,1358.964812,6726.414567,393.681515,409.906061,1472.438182,8746.410303,3133.180000,10218.848485,2773.397576,13727.376667
59,60,NTTDAC0001,20140318,130.795700,-13.139830,367.116478,398.419544,1127.638089,6481.816094,2602.007528,...,1794.287989,10544.601278,781.098889,813.101111,2301.302222,13228.196111,5310.219444,15529.498333,3661.812222,21519.594444
60,61,NTTMGD0001,20140315,133.423900,-17.282970,139.958726,152.190306,594.640472,1934.542750,1466.989028,...,850.382944,4142.086667,297.784524,310.592460,1213.551984,3948.046429,2993.855159,5161.598413,1735.475397,8453.238095
61,62,NTTPCK0001,20140319,131.127000,-12.871960,297.417940,322.857811,1017.275039,4993.764689,2329.594167,...,1617.487589,8627.187917,632.804127,658.893492,2076.071508,10191.356508,4754.273810,12267.428016,3300.995079,17606.505952
62,63,NTTSTU0001,20140315,133.271200,-16.630240,697.113792,758.037486,2961.816569,9635.672375,7306.856181,...,4235.632139,20631.123333,1483.220833,1547.015278,6044.523611,19664.637500,14911.951389,25709.161111,8644.147222,42104.333333

In [17]:
site_new = []
siteyear_list = []
for index, row in df.iterrows():
    site = row.site
    date = str(row.date)

    site_new.append(f"{site.lower()}_{str(date[:4])}")

df.rename(columns={"site": "site_name"}, inplace=True)
df.insert(1, "site", site_new)

In [18]:
df

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
0,1,lit01_2013,lit01,20130426,131.061917,-12.547912,942.014286,1022.490000,3136.490000,14298.900000,...,4780.440000,25585.070000,2004.285714,2086.714286,6401.000000,29181.428571,14773.428571,35582.428571,9756.000000,52214.428571
1,6,girra02_2012,girra02,20120605,131.132000,-12.523407,105.528429,114.751000,448.357000,1458.639000,...,641.186000,3123.120000,224.528571,234.185714,915.014286,2976.814286,2257.357143,3891.828571,1308.542857,6373.714286
2,24,umb07_2013,umb07,20130603,131.674475,-13.962273,197.215357,214.025000,735.630000,4680.007500,...,1413.265000,7150.517500,419.607143,436.785714,1501.285714,9551.035714,3148.821429,11052.321429,2884.214286,14592.892857
3,64,vrd16_2012,vrd16,20120727,130.882430,-17.274225,0.624429,0.679000,2.653000,8.631000,...,3.794000,18.480000,1.328571,1.385714,5.414286,17.614286,13.357143,23.028571,7.742857,37.714286
4,68,vrd20_2012,vrd20,20120728,130.899041,-17.102125,5.619857,6.111000,23.877000,77.679000,...,34.146000,166.320000,11.957143,12.471429,48.728571,158.528571,120.214286,207.257143,69.685714,339.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,59,nttdab0001_2014,NTTDAB0001,20140317,131.674000,-13.962880,185.030312,200.853970,721.494709,4285.741048,...,1358.964812,6726.414567,393.681515,409.906061,1472.438182,8746.410303,3133.180000,10218.848485,2773.397576,13727.376667
59,60,nttdac0001_2014,NTTDAC0001,20140318,130.795700,-13.139830,367.116478,398.419544,1127.638089,6481.816094,...,1794.287989,10544.601278,781.098889,813.101111,2301.302222,13228.196111,5310.219444,15529.498333,3661.812222,21519.594444
60,61,nttmgd0001_2014,NTTMGD0001,20140315,133.423900,-17.282970,139.958726,152.190306,594.640472,1934.542750,...,850.382944,4142.086667,297.784524,310.592460,1213.551984,3948.046429,2993.855159,5161.598413,1735.475397,8453.238095
61,62,nttpck0001_2014,NTTPCK0001,20140319,131.127000,-12.871960,297.417940,322.857811,1017.275039,4993.764689,...,1617.487589,8627.187917,632.804127,658.893492,2076.071508,10191.356508,4754.273810,12267.428016,3300.995079,17606.505952
62,63,nttstu0001_2014,NTTSTU0001,20140315,133.271200,-16.630240,697.113792,758.037486,2961.816569,9635.672375,...,4235.632139,20631.123333,1483.220833,1547.015278,6044.523611,19664.637500,14911.951389,25709.161111,8644.147222,42104.333333

In [19]:
df.sort_values(by=['site'], inplace=True)

In [20]:
df.reset_index(inplace=True, drop=True)
df["uid"] = df.index + 1
df

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
0,1,agb02_2012,agb02,20120714,131.005190,-12.647291,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,amg01_2012,amg01,20120619,134.051678,-16.380972,413.634375,448.552832,1310.224441,3748.311503,...,1811.635,8376.216104,880.073138,915.413944,2673.927432,7649.615312,5890.702698,10323.542743,3697.214286,17094.318579
2,3,amg03_2012,amg03,20120620,134.031618,-16.779005,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,amg05_2012,amg05,20120621,134.090637,-16.731260,833.612143,906.465000,3541.755000,11522.385000,...,5064.990,24670.800000,1773.642857,1849.928571,7228.071429,23515.071429,17831.785714,30743.142857,10336.714286,50348.571429
4,5,amg06_2012,amg06,20120621,134.087848,-16.694233,104.279571,113.393000,443.051000,1441.377000,...,633.598,3086.160000,221.871429,231.414286,904.185714,2941.585714,2230.642857,3845.771429,1293.057143,6298.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,wh07_2012,wh07,20120725,130.855205,-17.730627,8.117571,8.827000,34.489000,112.203000,...,49.322,240.240000,17.271429,18.014286,70.385714,228.985714,173.642857,299.371429,100.657143,490.285714
196,197,wh08_2012,wh08,20120725,130.864846,-17.800312,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
197,198,wh09_2012,wh09,20120725,130.827555,-17.849506,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
198,199,wh13_2012,wh13,20120726,130.979383,-17.484927,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
199,200,wh15_2012,wh15,20120727,130.948309,-17.573514,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [21]:
#Count duplicate on certain columns
df.duplicated(subset=['site']).sum()

0

In [22]:
# Extract duplicate rows
df.loc[df.duplicated(subset=["site"]), :]

Empty DataFrame
Columns: [uid, site, site_name, date, lon_gda94, lat_gda94, bio_l_kg1ha, bio_t_kg1ha, bio_b_kg1ha, bio_w_kg1ha, bio_br_kg1ha, bio_s_kg1ha, bio_r_kg1ha, bio_agb_kg1ha, c_l_kg1ha, c_t_kg1ha, c_b_kg1ha, c_w_kg1ha, c_br_kg1ha, c_s_kg1ha, c_r_kg1ha, c_agb_kg1ha]
Index: []

[0 rows x 22 columns]

In [23]:
df.sample(20)

,uid,site,site_name,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,...,bio_r_kg1ha,bio_agb_kg1ha,c_l_kg1ha,c_t_kg1ha,c_b_kg1ha,c_w_kg1ha,c_br_kg1ha,c_s_kg1ha,c_r_kg1ha,c_agb_kg1ha
90,91,ntagfu0001_2012,NTAGFU0001,20120412,137.069300,-18.905510,51.905625,56.441875,220.530625,717.451875,...,315.376250,1536.150000,110.437500,115.187500,450.062500,1464.187500,1110.312500,1914.250000,643.625000,3135.000000
135,136,ntamgd0005_2016,NTAMGD0005,20160429,133.483600,-17.455850,172.927687,188.040562,734.715187,2390.247563,...,1050.700875,5117.805000,367.931250,383.756250,1499.418750,4878.056250,3699.093750,6377.475000,2144.287500,10444.500000
39,40,el02_2013,el02,20130414,133.528782,-17.529506,82.424571,89.628000,350.196000,1139.292000,...,500.808000,2439.360000,175.371429,182.914286,714.685714,2325.085714,1763.142857,3039.771429,1022.057143,4978.285714
63,64,legu04_2012,legu04,20121007,129.257523,-15.396700,137.152714,148.855000,434.938000,2072.427000,...,652.568000,3648.393000,291.814286,303.785714,887.628571,4229.442857,2064.242857,5117.071429,1331.771429,7445.700000
166,167,site20_2023,site20,20230916,131.557720,-12.807804,602.674286,654.045000,2204.475000,11815.545000,...,3642.240000,19813.342500,1282.285714,1334.785714,4498.928571,24113.357143,10624.928571,28613.892857,7433.142857,40435.392857
153,154,site06_2023,site06,20230908,131.003818,-12.651162,383.385714,416.430000,1434.300000,5776.680000,...,2162.580000,10982.860000,815.714286,849.857143,2927.142857,11789.142857,6913.428571,14716.285714,4413.428571,22414.000000
95,96,ntagfu0006_2012,NTAGFU0006,20120418,136.847100,-18.778690,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
66,67,legu07_2012,legu07,20121008,129.128481,-15.379878,266.741786,289.677500,1087.152500,5974.937500,...,1982.365000,9708.965000,567.535714,591.178571,2218.678571,12193.750000,4852.821429,14412.428571,4045.642857,19814.214286
88,89,ntadac0001_2013,NTADAC0001,20130528,130.777900,-13.158350,763.102444,828.448444,2643.495556,13452.087056,...,4274.362556,22881.072667,1623.622222,1690.711111,5394.888889,27453.238889,12354.316667,32848.127778,8723.188889,46696.066667
108,109,ntagfu0019_2012,NTAGFU0019,20120518,137.236300,-17.217740,87.228867,94.791044,348.401978,1107.919400,...,495.159156,2389.599333,185.593333,193.451111,711.024444,2261.060000,1719.055556,2972.084444,1010.528889,4876.733333
56,57,jnk101_2024,jnk101,20240526,130.984181,-12.590667,453.046429,491.820000,1650.530000,7117.740000,...,2617.860000,12960.815000,963.928571,1003.714286,3368.428571,14526.000000,7622.285714,17894.428571,5342.571429,26450.642857
84,85,nt004_2012,nt004,20120524,130.860744,-13.058875,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
91,92,ntagfu0002_2012,NTAGFU0002,20120413,137.052200,-18.918120,39.339000,42.777000,167.139000,543.753000,...,239.022000,1164.240000,83.700000,87.300000,341.100000,1109.700000,841.500000,1450.800000,487.800000,2376.000000
3,4,amg05_2012,amg05,20120621,134.090637,-16.731260,833.612143,906.465000,3541.755000,11522.385000,...,5064.990000,24670.800000,1773.642857,1849.928571,7228.071429,23515.071429,17831.785714,30743.142857,10336.714286,50348.571429
2,3,amg03_2012,amg03,20120620,134.031618,-16.779005,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,38,cpr04_2024,cpr04,20240602,130.762639,-12.657997,283.980714,308.455000,1159.760000,4483.535000,...,1745.240000,8768.690000,604.214286,629.500000,2366.857143,9150.071429,5776.357143,11517.571429,3561.714286,17895.285714
110,111,ntagfu0021_2012,NTAGFU0021,20120606,135.942900,-16.715400,132.300804,143.863125,562.104375,1828.693125,...,803.853750,3915.450000,281.491071,293.598214,1147.151786,3732.026786,2830.044643,4879.178571,1640.517857,7990.714286
1,2,amg01_2012,amg01,20120619,134.051678,-16.380972,413.634375,448.552832,1310.224441,3748.311503,...,1811.635000,8376.216104,880.073138,915.413944,2673.927432,7649.615312,5890.702698,10323.542743,3697.214286,17094.318579
80,81,nc03_2013,nc03,20130414,133.418581,-17.365940,121.763571,132.405000,517.335000,1683.045000,...,739.830000,3603.600000,259.071429,270.214286,1055.785714,3434.785714,2604.642857,4490.571429,1509.857143,7354.285714
183,184,vrd33_2012,vrd33,20120801,131.160945,-16.160516,1.873286,2.037000,7.959000,25.893000,...,11.382000,55.440000,3.985714,4.157143,16.242857,52.842857,40.071429,69.085714,23.228571,113.142857

In [2]:
gdf = gpd.GeoDataFrame(
    df, geometry=gpd.points_from_xy(df.lon_gda94, df.lat_gda94))

NameError: name 'gpd' is not defined

In [1]:
gdf.set_crs("epsg=4283", inplace=True)

NameError: name 'gdf' is not defined

In [26]:
print(gdf.crs)

epsg:4283

In [27]:
# external hard drive
gdf.to_file(os.path.join(output_dir, "slats_tern_biomass.shp"), driver = "ESRI Shapefile")

In [28]:
# internal RSU drive
gdf.to_file(os.path.join(u_output_dir, "slats_tern_biomass.shp"), driver = "ESRI Shapefile")

In [29]:
print("exported to: ", os.path.join(output_dir, "slats_tern_biomass.shp"))

exported to:  D:\biomass\collate_agb\20240707\slats_tern_biomass.shp

In [30]:
print("exported to: ", os.path.join(u_output_dir, "slats_tern_biomass.shp"))

exported to:  C:\Users\robot\projects\biomass\collated_agb\20240707\slats_tern_biomass.shp

In [31]:
# Extenal hard drive

out = os.path.join(output_dir, "slats_tern_biomass.csv")

gdf.to_csv(os.path.join(out), index = False)
print("file exported: ", out)

file exported:  D:\biomass\collate_agb\20240707\slats_tern_biomass.csv

In [32]:
#Internal RSU drive

out = os.path.join(u_output_dir, "slats_tern_biomass.csv")

gdf.to_csv(os.path.join(out), index = False)
print("file exported: ", out)

file exported:  C:\Users\robot\projects\biomass\collated_agb\20240707\slats_tern_biomass.csv