# Collate climate and seasonal data fire mask and not v2

In [1]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
 
date_str = now.strftime("%Y%m%d")
date_time_str = now.strftime("%Y%m%d_%H%M%S")
print(date_str)
print(date_time_str)

20230402
20230402_183649

In [3]:
drive = "D"
met_date = "20230109"
direction = "near"

feature_date = "20230205"

# # processing date
# date = "20230204"

# define output directory
output_dir = r"{0}:\cdu\data\zonal_stats\output\{1}".format(drive, date_str)
#test directory
output_dir = r"D:\cdu\data\zonal_stats\output\test"


# user inputs
v1 = "mean"
v2 = "max"
v3 = "min"
v4 = "med"
v5 = "std"

classify = True
classify = False

climate = True
climate = False

# choose from one or the other to select fire mask applied or notscars or not

# choose for fire mask applied
type_basal_feat_dir = "fire_mask_NOT_applied_basal"
fsm = "fms_applied"

# choose for fire mask NOT applied
# type_basal_feat_dir = "fire_mask_applied_basal"
# fsm = "fms_NOT_applied"

In [4]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from glob import glob
import os

In [5]:
def mk_dir_fn(dir_):
    """ Create a new directory if one does not already exist. """
    if not os.path.isdir(dir_):
        os.mkdir(dir_)

        
def export_csv_fn(list_, dir_, file_name):
    
    """ Create and export path from directory and file name and exports csv with no dropping the index column. """
    
    df_final = pd.concat(list_, axis =0)    
    output_path = os.path.join(dir_, file_name)
    df_final.to_csv(os.path.join(output_path), index=False)
    print("File output to: ", output_path)
    
    return df_final


def glob_concat_axis1_fn(d, s, m):
    """ Concatenate mosaic basal and feature data based on site index. """
    df_list = []

    for f in glob(os.path.join(d, s)):

        df = pd.read_csv(f)
#         df.set_index("uid", inplace = True) # change back to uid once met data has been corrected
        df.set_index("site", inplace = True)
        df_list.append(df)
    
    df_list.append(m)
    # concat data
    df_con = pd.concat(df_list, axis = 1)
    
    # Drop duplicate columns
    df_bm_dd = df_con.T.drop_duplicates().T
    

    return df_list, df_bm_dd


def glob_concat_axis1_fn(d, s, m):
    """ Concatenate mosaic basal and feature data based on site index. """
    df_list = []
    
    
    for f in glob(os.path.join(d, s)):
#         print(f)
        _, file_ = os.path.split(f)
        f_split = file_.split("_")
        
        old_s = f_split[0] 
#         print(old_s)
        new_s = f_split[0] + "_" + f_split[1]
#         print(new_s)

        df = pd.read_csv(f)
        col_list = df.columns.tolist()
        
        s_list = []
        for i in col_list:

            s = i.replace(old_s, new_s)
            s_list.append(s)
            
        df.columns = s_list

        
        # df.set_index("uid", inplace = True) # change back to uid once met data has been corrected
        df.set_index("site", inplace = True)
        df_list.append(df)
    
    df_list.append(m)
    # concat data
    df_con = pd.concat(df_list, axis = 1)
    
    # Drop duplicate columns
    df_bm_dd = df_con.T.drop_duplicates().T
    
    print(s_list)
    return df_list, df_bm_dd


def glob_concat_axis1_no_climate_fn(d, s):
    """ Concatenate mosaic basal and feature data based on site index. """
    df_list = []
    
    print("Searching for: ", os.path.join(d, s))
    for f in glob(os.path.join(d, s)):
        print(f)
        _, file_ = os.path.split(f)
        f_split = file_.split("_")
        
        old_s = f_split[0] 
#         print(old_s)
        new_s = f_split[0] + "_" + f_split[1]
#         print(new_s)

        df = pd.read_csv(f)
        col_list = df.columns.tolist()
        
        s_list = []
        for i in col_list:

            s = i.replace(old_s, new_s)
            s_list.append(s)
            
        df.columns = s_list

        
        # df.set_index("uid", inplace = True) # change back to uid once met data has been corrected
        df.set_index("site", inplace = True)
        df_list.append(df)
    
#     df_list.append(m)
    # concat data
    df_con = pd.concat(df_list, axis = 1)
    
    # Drop duplicate columns
    df_bm_dd = df_con.T.drop_duplicates().T
    
    print(s_list)
    return df_list, df_bm_dd

def identify_null_values(df_in):
    """ Create and export column names and null values as a new df. """
    nc = df_in.isnull().sum()
    df_out = pd.DataFrame(nc[nc > 0].sort_values(ascending=False))
    for index, row in df_out.iterrows():
        print(f"{index}: {row[0]} Null values")

    df_out.reset_index(drop=False, inplace=True)
    
    return df_out


def drop_cols_fn(df, var1, var2, var3, var4, var5):
    """ Select out feature or stats values and export df's """
    df1 = df.copy(deep=True)
    df_columns = df1.columns.tolist()
    
    drop_list = [columns for columns in df_columns if var1 not in columns]  
    drop_list2 = [columns for columns in drop_list if var2 not in columns]
    drop_list3 = [columns for columns in drop_list2 if var3 not in columns]
    drop_list4 = [columns for columns in drop_list3 if var4 not in columns]
    drop_list5 = [columns for columns in drop_list4 if var5 not in columns]
    
    # add fire elements
    drop_list6 = [columns for columns in drop_list5 if "intens" not in columns]
    drop_list7 = [columns for columns in drop_list5 if "fire_f" not in columns]
    drop_list8 = [columns for columns in drop_list7 if "fire_tot" not in columns]
    drop_list9 = [columns for columns in drop_list8 if "since_fire" not in columns]
    drop_list10 = [columns for columns in drop_list9 if "fire_gap" not in columns]
    drop_list11 = [columns for columns in drop_list10 if "burnt" not in columns]
    drop_list12 = [columns for columns in drop_list11 if "fire_pois1_5" not in columns]
    
    #dka fire

    df1.drop(drop_list12, axis = 1, inplace=True)
    var_ = df.iloc[:, [0, 1, 11]]
    df_out = pd.concat([var_, df1], axis=1)
    

    return df1, var_, df_out

##### Create output directories

In [6]:
ml_data_dir = os.path.join(output_dir, "ml_data_dir")
mk_dir_fn(output_dir)
mk_dir_fn(ml_data_dir)

##### Load basal feature zonal stats

In [7]:
bf = r"{0}:\cdu\data\zonal_stats\output\{1}\{2}".format(drive, feature_date, type_basal_feat_dir)
print(bf)

D:\cdu\data\zonal_stats\output\20230205\fire_mask_NOT_applied_basal

##### Load climate data

In [7]:
if climate:
    print("Climate")
    climate_str = "met"
    m = r"{0}:\cdu\data\zonal_stats\output\{1}\cleaned_{2}_met_zonal_stats.csv".format(drive, met_date, direction)
    print(m)
    m_df = pd.read_csv(m).set_index("site")
    # Call the glob_concat_axis1 function to concatenate features
    bfm_df_list,df_bm_dd = glob_concat_axis1_fn(bf, "*.csv", m_df)

else:
    print("Not Climate")
    # Call the glob_concat_axis1 function to concatenate features
    bfm_df_list,df_bm_dd = glob_concat_axis1_no_climate_fn(bf, "*.csv")
    climate_str = ""

Climate
D:\cdu\data\zonal_stats\output\20230109\cleaned_near_met_zonal_stats.csv
['uid', 'site', 'date', 'lon_gda94', 'lat_gda94', 'bio_l_kg1ha', 'bio_t_kg1ha', 'bio_b_kg1ha', 'bio_w_kg1ha', 'bio_br_kg1ha', 'bio_s_kg1ha', 'bio_r_kg1ha', 'bio_agb_kg1ha', 'c_l_kg1ha', 'c_t_kg1ha', 'c_b_kg1ha', 'c_w_kg1ha', 'c_br_kg1ha', 'c_s_kg1ha', 'c_r_kg1ha', 'c_agb_kg1ha', 'basal_dt', 'uid_dp1_0509_0509', 'image', 's_day', 's_month', 's_year', 's_date', 'e_day', 'e_month', 'e_year', 'e_date', 'b1_dp1_0509_min', 'b1_dp1_0509_max', 'b1_dp1_0509_mean', 'b1_dp1_0509_count', 'b1_dp1_0509_std', 'b1_dp1_0509_med', 'b1_dp1_0509_p25', 'b1_dp1_0509_p50', 'b1_dp1_0509_p75', 'b1_dp1_0509_p95', 'b1_dp1_0509_p99', 'b1_dp1_0509_range', 'b2_dp1_0509_min', 'b2_dp1_0509_max', 'b2_dp1_0509_mean', 'b2_dp1_0509_count', 'b2_dp1_0509_std', 'b2_dp1_0509_med', 'b2_dp1_0509_p25', 'b2_dp1_0509_p50', 'b2_dp1_0509_p75', 'b2_dp1_0509_p95', 'b2_dp1_0509_p99', 'b2_dp1_0509_range', 'b3_dp1_0509_min', 'b3_dp1_0509_max', 'b3_dp1_0509_mean', 'b3_dp1_0509_count', 'b3_dp1_0509_med', 'b3_dp1_0509_p25', 'b3_dp1_0509_p50', 'b3_dp1_0509_p75', 'b3_dp1_0509_p95', 'b3_dp1_0509_p99', 'b3_dp1_0509_range', 'b3_dp1_0509_std', 'image_s_dt', 'image_e_dt']

In [8]:
df_bm_dd

,uid,date,lon_gda94,lat_gda94,bio_l_kg1ha,bio_t_kg1ha,bio_b_kg1ha,bio_w_kg1ha,bio_br_kg1ha,bio_s_kg1ha,...,evp_s_mean.1,tmax_mean,tmin_mean,rain_m_mean,mslp_mean,rad_mean,rh_tmax_mean,rh_tmin_mean,vp_mean,vp_d_mean
nt001,71,20110523,131.21,-13.9452,0,0,0,0,0,0,...,5.6,32.6,16.3,141.6,1013.9,16.7,3311.1,3368.3,17,22
barkely01,24,20111025,135.041,-18.0018,0,0,0,0,0,0,...,8.4,37,23.6,71.7,1012.3,16.9,3312.2,3353.4,22.4,29.8
barkely04,27,20111026,135.226,-17.9848,0,0,0,0,0,0,...,9,38.6,23.9,72.9,1012.1,19.2,3311.9,3358.1,24.2,31.8
barkely03,26,20111026,135.288,-18.0245,0,0,0,0,0,0,...,8.9,38.5,23.8,73.3,1012.1,19.2,3312.2,3359,24.3,31.4
barkely02,25,20111026,135.26,-18.057,0,0,0,0,0,0,...,9,38.6,23.9,71.5,1012.1,19.2,3311.7,3357.8,24.1,31.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ntadac0002,79,20160506,132.34,-12.7392,662.207,718.914,2368.02,12460.9,5334.93,14828.9,...,5.6,35.1,24.6,228.9,1011.2,18.5,3326.9,3368.7,28.5,20.3
ntaarp0001,75,20160602,132.27,-13.5573,1114.7,1209.66,3360.25,18298.8,7796.61,21659.1,...,5.6,33.1,20.7,203.8,1014.4,19.6,3323.8,3374.4,23.9,18.5
ntaarp0002,76,20160602,132.294,-13.5456,885.524,961.609,3075.57,13171,7308.61,16246.6,...,5.7,32.9,20.7,204.2,1014.5,19.6,3324.1,3374,23.8,18.3
ntaarp0003,77,20160603,132.457,-13.517,628.216,682.37,2271.72,9263.87,5445.67,11535.6,...,6,35.1,21.1,196.1,1014.7,17.7,3318.4,3371.3,23.7,22.8
buff01,31,20210713,130.899,-12.3362,343.637,373.082,1092.53,5997.41,2593.87,7089.93,...,7,32.9,19.8,527.9,1012.4,20.1,3334.5,3351,17.2,24.3

In [9]:
# m = r"{0}:\cdu\data\zonal_stats\output\{1}\cleaned_{2}_met_zonal_stats.csv".format(drive, met_date, direction)
# print(m)

In [10]:
# m_df = pd.read_csv(m)
# # set index to site or uid
# m_df.set_index("site", inplace = True)
# # m_df

In [11]:
# print(list(m_df))

In [12]:
# # Call the glob_concat_axis1 function to concatenate features
# bfm_df_list,df_bm_dd = glob_concat_axis1_fn(bf, "*.csv", m_df)

# call the drop columns function to select statistical values
taf_df, t_d_df, df_bm_dmmmms = drop_cols_fn(df_bm_dd, v1, v2, v3, v4, v5)

In [13]:
def drop_feature_fn(df):
    """ Remove features from dataframe """
    df1 = df.copy(deep=True)
    df_columns = df.columns.tolist()
    
    drop_list = [columns for columns in df_columns if 'dis_' in columns]
    drop_list2 = [columns for columns in df_columns if 'stc_' in columns]
    drop_list3 = [columns for columns in df_columns if 'mean.1' in columns]

    drop_list.extend(drop_list2)
    drop_list.extend(drop_list3)
    df1.drop(drop_list, axis = 1, inplace=True)
    
        
    return df1
 
    
dmmmms_nodisstc = drop_feature_fn(df_bm_dmmmms)

In [14]:
# dmmmms_nodisstc

In [15]:
def fill_min_list(df):
    """ Fill minimum values with 0 """
    
    df1 = df.copy(deep=True)
    
    df_columns = df.columns.tolist()
    min_list = [columns for columns in df_columns if '_min' in columns]
    
    for i in min_list:
#         print(i)

        df1.dropna(subset=[i], inplace=True)
        mean_value = df1[i].mean()
        print(f"feature {i} mean = {mean_value}")
        df[i].fillna(mean_value, inplace=True)
        
        
        #df[i].fillna((df1[i].mean()), inplace=True) #should be 0
         
    return df
 
    
dmmmms_min = fill_min_list(dmmmms_nodisstc)

feature b1_fpca2_0509_min mean = 6.803360925092326
feature b1_h99a_01122_min mean = 7.438527840335353
feature b1_dbi_0608_min mean = 432.91156462585036
feature b2_dbi_0608_min mean = 684.1088435374149
feature b3_dbi_0608_min mean = 974.0612244897959
feature b4_dbi_0608_min mean = 2121.3401360544217
feature b5_dbi_0608_min mean = 2393.6598639455783
feature b6_dbi_0608_min mean = 1481.6666666666667
feature b1_dja_0305_min mean = 13.863013698630137
feature b1_dim_0305_min mean = 8.582191780821917
feature b2_dim_0305_min mean = 32.83561643835616
feature b3_dim_0305_min mean = 40.71232876712329
feature b1_dim_0608_min mean = 13.746575342465754
feature b2_dim_0608_min mean = 18.95205479452055
feature b3_dim_0608_min mean = 49.31506849315068
feature b1_dim_0911_min mean = 16.438356164383563
feature b2_dim_0911_min mean = 17.883561643835616
feature b3_dim_0911_min mean = 49.06849315068493
feature b1_dim_1202_min mean = 10.413793103448276
feature b2_dim_1202_min mean = 34.282758620689656
feature b3_dim_1202_min mean = 37.42758620689655
feature dka_0112_min mean = 1.3241379310344827
feature dka_0112_minor mean = 1.8482758620689654
feature b1_dp1_0112_min mean = 12.23611111111111
feature b2_dp1_0112_min mean = 21.782945736434108
feature b3_dp1_0112_min mean = 49.395348837209305
feature b1_dp1_0509_min mean = 11.815126050420169
feature b2_dp1_0509_min mean = 20.598214285714285
feature b3_dp1_0509_min mean = 51.276785714285715

In [16]:
# df1 = dmmmms_nodisstc.copy()
# df2 = dmmmms_nodisstc

# df1.dropna(subset=["b1_dja_min"], inplace=True)
# mean_value = df1["b1_dja_min"].mean()
# # print(f"feature {"b1_dja_min"} mean = {mean_value}")
# #dmmmms_nodisstc["b1_dja_min"]= dmmmms_nodisstc["b1_dja_min"].fillna(mean_value, inplace=True)
# df2["b1_dja_min"].fillna(value=mean_value, inplace=True)

In [17]:
# print(dmmmms_nodisstc.shape)
# print(df2.shape)

In [18]:
# dmmmms_nodisstc.dropna(inplace=True)
# dmmmms_nodisstc.shape

In [19]:
# df2.dropna(inplace=True)
# df2.shape

In [20]:
# call the identify null values function
df_bm_dmmmms_null = identify_null_values(dmmmms_min)

b3_dp1_0509_std: 22 Null values
b2_dp1_0509_max: 22 Null values
b1_dp1_0509_max: 22 Null values
b1_dp1_0509_mean: 22 Null values
b3_dp1_0509_med: 22 Null values
b1_dp1_0509_med: 22 Null values
b1_dp1_0509_std: 22 Null values
b2_dp1_0509_mean: 22 Null values
b2_dp1_0509_std: 22 Null values
b2_dp1_0509_med: 22 Null values
b3_dp1_0509_max: 22 Null values
b3_dp1_0509_mean: 22 Null values
b1_h99a_01122_max: 20 Null values
b1_h99a_01122_mean: 20 Null values
b1_h99a_01122_med: 20 Null values
b1_h99a_01122_std: 20 Null values
b1_fpca2_0509_mean: 13 Null values
b1_fpca2_0509_med: 13 Null values
b1_fpca2_0509_std: 13 Null values
b1_fpca2_0509_max: 13 Null values
b1_dp1_0112_med: 3 Null values
b3_dp1_0112_max: 3 Null values
b2_dp1_0112_max: 3 Null values
b1_dp1_0112_std: 3 Null values
b2_dp1_0112_mean: 3 Null values
b2_dp1_0112_med: 3 Null values
b2_dp1_0112_std: 3 Null values
b3_dp1_0112_mean: 3 Null values
b3_dp1_0112_med: 3 Null values
b3_dp1_0112_std: 3 Null values
b1_dp1_0112_max: 3 Null values
b1_dp1_0112_mean: 3 Null values
b2_dim_1202_med: 2 Null values
b1_dim_1202_max: 2 Null values
b1_dim_1202_mean: 2 Null values
b1_dim_1202_med: 2 Null values
b1_dim_1202_std: 2 Null values
b2_dim_1202_mean: 2 Null values
b2_dim_1202_max: 2 Null values
b2_dim_1202_std: 2 Null values
b3_dim_1202_mean: 2 Null values
b3_dim_1202_med: 2 Null values
b3_dim_1202_std: 2 Null values
b3_dim_1202_max: 2 Null values
b1_dja_0305_mean: 1 Null values
b2_dim_0305_max: 1 Null values
b1_dim_0305_std: 1 Null values
b1_dim_0305_med: 1 Null values
b1_dim_0305_mean: 1 Null values
b1_dim_0305_max: 1 Null values
b1_dja_0305_std: 1 Null values
b1_dja_0305_med: 1 Null values
dka_0112_med: 1 Null values
b1_dja_0305_max: 1 Null values
b2_dim_0305_med: 1 Null values
burnt: 1 Null values
fire_f: 1 Null values
fire_tot: 1 Null values
since_fire: 1 Null values
fire_gap: 1 Null values
fire_pois1_5: 1 Null values
b2_dim_0305_mean: 1 Null values
b3_dim_0305_mean: 1 Null values
b2_dim_0305_std: 1 Null values
dka_0112_std: 1 Null values
dka_0112_max: 1 Null values
dka_0112_mean: 1 Null values
b3_dim_0608_std: 1 Null values
b3_dim_0608_med: 1 Null values
b3_dim_0608_mean: 1 Null values
b3_dim_0608_max: 1 Null values
b2_dim_0608_std: 1 Null values
b2_dim_0608_mean: 1 Null values
b3_dim_0305_max: 1 Null values
b2_dim_0608_max: 1 Null values
b1_dim_0608_std: 1 Null values
b1_dim_0608_med: 1 Null values
b1_dim_0608_mean: 1 Null values
b1_dim_0608_max: 1 Null values
b3_dim_0305_std: 1 Null values
b3_dim_0305_med: 1 Null values
b2_dim_0608_med: 1 Null values

In [21]:
def mean_null(df):
    """ Mean the null values of data excluding date and biomass."""
    df1 = df.copy(deep=True)

    df_columns = df1.columns.tolist()

    for i in df_columns[3:]:
        df1.dropna(subset=[i], inplace=True)
        mean_value = df1[i].mean()
        print(f"feature {i} mean = {mean_value}")
        df[i].fillna(mean_value, inplace=True)

        
    return df

In [22]:
dmmmms_mean = mean_null(dmmmms_min)

feature b1_fpca2_0509_min mean = 6.803360925092326
feature b1_fpca2_0509_max mean = 17.199115225246974
feature b1_fpca2_0509_mean mean = 11.24807630166116
feature b1_fpca2_0509_med mean = 11.001351992805283
feature b1_fpca2_0509_std mean = 2.7999219686105583
feature b1_h99a_01122_min mean = 7.438527840335353
feature b1_h99a_01122_max mean = 12.225477257553411
feature b1_h99a_01122_mean mean = 9.74961009156875
feature b1_h99a_01122_med mean = 9.727706052819077
feature b1_h99a_01122_std mean = 1.278184918888929
feature b1_dbi_0608_min mean = 432.91156462585036
feature b1_dbi_0608_max mean = 561.7210884353741
feature b1_dbi_0608_mean mean = 493.24863945578244
feature b1_dbi_0608_med mean = 491.90816326530614
feature b1_dbi_0608_std mean = 35.03446821031194
feature b2_dbi_0608_min mean = 684.1088435374149
feature b2_dbi_0608_max mean = 863.4013605442177
feature b2_dbi_0608_mean mean = 769.0147108843538
feature b2_dbi_0608_med mean = 766.7482993197278
feature b2_dbi_0608_std mean = 49.380990381095664
feature b3_dbi_0608_min mean = 974.0612244897959
feature b3_dbi_0608_max mean = 1256.5238095238096
feature b3_dbi_0608_mean mean = 1108.5525170068026
feature b3_dbi_0608_med mean = 1105.0748299319728
feature b3_dbi_0608_std mean = 78.47344348313716
feature b4_dbi_0608_min mean = 2121.3401360544217
feature b4_dbi_0608_max mean = 2491.687074829932
feature b4_dbi_0608_mean mean = 2301.0468197278915
feature b4_dbi_0608_med mean = 2296.71768707483
feature b4_dbi_0608_std mean = 102.51978143411465
feature b5_dbi_0608_min mean = 2393.6598639455783
feature b5_dbi_0608_max mean = 2886.809523809524
feature b5_dbi_0608_mean mean = 2631.774965986396
feature b5_dbi_0608_med mean = 2626.5646258503402
feature b5_dbi_0608_std mean = 136.94283446482368
feature b6_dbi_0608_min mean = 1481.6666666666667
feature b6_dbi_0608_max mean = 1927.7210884353742
feature b6_dbi_0608_mean mean = 1694.9035034013602
feature b6_dbi_0608_med mean = 1690.404761904762
feature b6_dbi_0608_std mean = 121.16184603079519
feature b1_dja_0305_min mean = 13.863013698630137
feature b1_dja_0305_max mean = 22.28767123287671
feature b1_dja_0305_mean mean = 18.26166095890411
feature b1_dja_0305_med mean = 18.33219178082192
feature b1_dja_0305_std mean = 2.2850087210001386
feature b1_dim_0305_min mean = 8.582191780821917
feature b1_dim_0305_max mean = 18.801369863013697
feature b1_dim_0305_mean mean = 13.447030110300659
feature b1_dim_0305_med mean = 13.36986301369863
feature b1_dim_0305_std mean = 2.826765146697354
feature b2_dim_0305_min mean = 32.83561643835616
feature b2_dim_0305_max mean = 45.0958904109589
feature b2_dim_0305_mean mean = 39.01680172567159
feature b2_dim_0305_med mean = 39.10958904109589
feature b2_dim_0305_std mean = 3.4141194293618633
feature b3_dim_0305_min mean = 40.71232876712329
feature b3_dim_0305_max mean = 52.26712328767123
feature b3_dim_0305_mean mean = 46.24425435865503
feature b3_dim_0305_med mean = 46.07534246575342
feature b3_dim_0305_std mean = 3.0876599031399357
feature b1_dim_0608_min mean = 13.746575342465754
feature b1_dim_0608_max mean = 25.828767123287673
feature b1_dim_0608_mean mean = 19.41035958904109
feature b1_dim_0608_med mean = 19.376712328767123
feature b1_dim_0608_std mean = 3.313858705065624
feature b2_dim_0608_min mean = 18.95205479452055
feature b2_dim_0608_max mean = 29.335616438356166
feature b2_dim_0608_mean mean = 24.265273972602746
feature b2_dim_0608_med mean = 24.315068493150687
feature b2_dim_0608_std mean = 2.868871898118641
feature b3_dim_0608_min mean = 49.31506849315068
feature b3_dim_0608_max mean = 60.657534246575345
feature b3_dim_0608_mean mean = 55.00650684931507
feature b3_dim_0608_med mean = 54.945205479452056
feature b3_dim_0608_std mean = 3.098433301004386
feature b1_dim_0911_min mean = 16.438356164383563
feature b1_dim_0911_max mean = 27.97945205479452
feature b1_dim_0911_mean mean = 21.98063704110118
feature b1_dim_0911_med mean = 21.914383561643834
feature b1_dim_0911_std mean = 3.13229057859841
feature b2_dim_0911_min mean = 17.883561643835616
feature b2_dim_0911_max mean = 26.45205479452055
feature b2_dim_0911_mean mean = 22.118059842704763
feature b2_dim_0911_med mean = 22.215753424657535
feature b2_dim_0911_std mean = 2.3812634369680508
feature b3_dim_0911_min mean = 49.06849315068493
feature b3_dim_0911_max mean = 60.034246575342465
feature b3_dim_0911_mean mean = 54.56318042207733
feature b3_dim_0911_med mean = 54.44178082191781
feature b3_dim_0911_std mean = 3.0267622930568234
feature b1_dim_1202_min mean = 10.413793103448276
feature b1_dim_1202_max mean = 21.0
feature b1_dim_1202_mean mean = 15.642118542377158
feature b1_dim_1202_med mean = 15.637931034482758
feature b1_dim_1202_std mean = 2.9345351665452575
feature b2_dim_1202_min mean = 34.282758620689656
feature b2_dim_1202_max mean = 45.55172413793103
feature b2_dim_1202_mean mean = 39.79875072628521
feature b2_dim_1202_med mean = 39.789655172413795
feature b2_dim_1202_std mean = 3.12283264493239
feature b3_dim_1202_min mean = 37.42758620689655
feature b3_dim_1202_max mean = 48.95862068965517
feature b3_dim_1202_mean mean = 43.21797256957601
feature b3_dim_1202_med mean = 43.08275862068965
feature b3_dim_1202_std mean = 3.180424613740207
feature dka_0112_min mean = 1.3241379310344827
feature dka_0112_max mean = 2.4
feature dka_0112_mean mean = 1.8606551724137932
feature dka_0112_std mean = 0.42986075179154615
feature dka_0112_med mean = 1.8551724137931034
feature dka_0112_minor mean = 1.8482758620689654
feature burnt mean = 0.31724137931034485
feature fire_f mean = 0.7910142068965526
feature fire_tot mean = 6.43448275862069
feature since_fire mean = 6.841379310344828
feature fire_gap mean = 5.748735632183908
feature fire_pois1_5 mean = 1.4343793103448284
feature b1_dp1_0112_min mean = 12.23611111111111
feature b1_dp1_0112_max mean = 21.0
feature b1_dp1_0112_mean mean = 16.375530478395063
feature b1_dp1_0112_std mean = 2.6316969149598783
feature b1_dp1_0112_med mean = 16.24652777777778
feature b2_dp1_0112_min mean = 21.782945736434108
feature b2_dp1_0112_max mean = 29.5625
feature b2_dp1_0112_mean mean = 24.451292438271604
feature b2_dp1_0112_std mean = 3.0516043204127747
feature b2_dp1_0112_med mean = 24.59375
feature b3_dp1_0112_min mean = 51.541666666666664
feature b3_dp1_0112_max mean = 63.520833333333336
feature b3_dp1_0112_mean mean = 57.66160300925927
feature b3_dp1_0112_med mean = 57.614583333333336
feature b3_dp1_0112_std mean = 3.63162781604934
feature b1_dp1_0509_min mean = 12.34827264239029
feature b1_dp1_0509_max mean = 20.828358208955223
feature b1_dp1_0509_mean mean = 16.44428897180763
feature b1_dp1_0509_std mean = 2.579069350020106
feature b1_dp1_0509_med mean = 16.395522388059703
feature b2_dp1_0509_min mean = 20.598214285714285
feature b2_dp1_0509_max mean = 26.388059701492537
feature b2_dp1_0509_mean mean = 21.763629767827528
feature b2_dp1_0509_std mean = 2.855942001098921
feature b2_dp1_0509_med mean = 21.76865671641791
feature b3_dp1_0509_min mean = 54.6865671641791
feature b3_dp1_0509_max mean = 66.26119402985074
feature b3_dp1_0509_mean mean = 60.30690298507463
feature b3_dp1_0509_med mean = 60.17910447761194
feature b3_dp1_0509_std mean = 3.56808554181173
feature rain_d_mean mean = 0.00746268656715739
feature et_ma_mean mean = 1.89589552238806
feature et_mp_mean mean = 7.582089552238807
feature et_mw_mean mean = 4.736567164179104
feature et_sc_mean mean = 4.900746268656718
feature et_tc_mean mean = 6.606343283582091
feature evp_ml_mean mean = 4.988432835820892
feature evp_s_mean mean = 6.374253731343282
feature tmax_mean mean = 31.642910447761192
feature tmin_mean mean = 16.313805970149247
feature rain_m_mean mean = 143.57201492537288
feature mslp_mean mean = 1015.2283582089552
feature rad_mean mean = 20.000373134328356
feature rh_tmax_mean mean = 3310.1175373134347
feature rh_tmin_mean mean = 3357.94104477612
feature vp_mean mean = 16.70671641791044
feature vp_d_mean mean = 21.942164179104484

In [23]:
dmmmms_mean

,uid,date,bio_agb_kg1ha,b1_fpca2_0509_min,b1_fpca2_0509_max,b1_fpca2_0509_mean,b1_fpca2_0509_med,b1_fpca2_0509_std,b1_h99a_01122_min,b1_h99a_01122_max,...,evp_s_mean,tmax_mean,tmin_mean,rain_m_mean,mslp_mean,rad_mean,rh_tmax_mean,rh_tmin_mean,vp_mean,vp_d_mean
nt001,71,20110523,0,13.779837,46.998966,25.849381,23.867432,8.477655,7.273514,11.780785,...,5.2,32.6,16.3,141.6,1013.9,16.7,3311.1,3368.3,17.0,22.0
barkely01,24,20111025,0,0.752944,2.872306,1.691590,1.486260,0.699975,4.384300,8.969109,...,8.7,37.0,23.6,71.7,1012.3,16.9,3312.2,3353.4,22.4,29.8
barkely04,27,20111026,0,2.120632,6.417120,4.374468,4.472551,1.216005,5.932899,8.854515,...,7.8,38.6,23.9,72.9,1012.1,19.2,3311.9,3358.1,24.2,31.8
barkely03,26,20111026,0,0.752944,3.292108,1.820417,1.637530,0.699339,3.664345,7.094025,...,7.8,38.5,23.8,73.3,1012.1,19.2,3312.2,3359.0,24.3,31.4
barkely02,25,20111026,0,2.120632,13.779837,4.974984,4.725986,2.433672,3.129379,5.818588,...,7.9,38.6,23.9,71.5,1012.1,19.2,3311.7,3357.8,24.1,31.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ntadac0002,79,20160506,20805.2,15.538734,42.389004,29.117230,29.265415,6.836081,16.053879,20.420395,...,5.7,35.1,24.6,228.9,1011.2,18.5,3326.9,3368.7,28.5,20.3
ntaarp0001,75,20160602,30472.4,27.614885,38.921173,34.748572,34.327137,3.238761,17.312332,21.588921,...,6.0,33.1,20.7,203.8,1014.4,19.6,3323.8,3374.4,23.9,18.5
ntaarp0002,76,20160602,24414.1,9.056872,22.308666,14.395230,14.214185,3.600052,9.738800,16.808601,...,6.0,32.9,20.7,204.2,1014.5,19.6,3324.1,3374.0,23.8,18.3
ntaarp0003,77,20160603,17598.4,5.261469,25.453907,13.082606,12.109756,5.789599,9.613670,20.052162,...,6.3,35.1,21.1,196.1,1014.7,17.7,3318.4,3371.3,23.7,22.8
buff01,31,20210713,9995.51,19.299746,40.076439,30.465705,32.058704,6.234632,11.996628,18.395920,...,5.0,32.9,19.8,527.9,1012.4,20.1,3334.5,3351.0,17.2,24.3

In [24]:
# call the identify null values function
df_bm_dmmmms_null = identify_null_values(dmmmms_mean)

In [25]:
dmmmms_mean.dropna(inplace=True)

In [26]:
dmmmms_mean.sample(20)

,uid,date,bio_agb_kg1ha,b1_fpca2_0509_min,b1_fpca2_0509_max,b1_fpca2_0509_mean,b1_fpca2_0509_med,b1_fpca2_0509_std,b1_h99a_01122_min,b1_h99a_01122_max,...,evp_s_mean,tmax_mean,tmin_mean,rain_m_mean,mslp_mean,rad_mean,rh_tmax_mean,rh_tmin_mean,vp_mean,vp_d_mean
jdr03,47,20120523,11180.4,10.533810,18.330997,14.593527,14.648533,1.912195,9.042366,15.288635,...,6.4,32.5,17.4,202.0,1013.3,18.6,3316.2,3374.2,19.4,20.0
auv05,19,20121011,73.92,0.275141,1.788801,1.025849,0.968540,0.445413,5.553467,8.010284,...,9.7,36.3,25.0,135.8,1013.3,24.4,3313.8,3347.5,22.5,29.2
amg06,5,20120621,3086.16,8.356935,23.343081,16.552498,17.380726,3.837718,8.267647,15.495010,...,4.5,27.3,5.6,101.5,1017.4,18.9,3302.1,3376.5,9.3,16.9
amg03,3,20120620,0,3.741091,13.779837,6.702390,6.417120,2.946635,5.320847,8.553528,...,4.7,26.9,6.7,96.4,1018.6,19.5,3296.0,3346.8,6.9,19.3
ntagfu0015,94,20120514,1921,3.292108,8.356935,4.909667,4.219115,1.356020,4.595810,8.722031,...,8.1,30.2,15.9,79.8,1017.8,19.9,3301.7,3336.3,10.8,24.1
ntamgd0001,121,20140313,5778.08,6.803361,17.199115,11.248076,11.001352,2.799922,7.438528,12.225477,...,8.8,35.4,22.9,87.3,1012.0,24.1,3303.8,3332.7,15.7,32.6
barkely03,26,20111026,0,0.752944,3.292108,1.820417,1.637530,0.699339,3.664345,7.094025,...,7.8,38.5,23.8,73.3,1012.1,19.2,3312.2,3359.0,24.3,31.4
amg08,6,20120622,29521.8,23.343081,45.850407,35.404507,35.469837,5.048976,11.452576,18.281776,...,4.8,27.0,5.0,97.9,1015.9,19.3,3301.5,3376.5,8.9,16.7
ntamgd0005,125,20160429,5117.8,2.872306,16.449720,11.028107,12.109756,4.345881,8.132851,13.228630,...,6.5,34.6,23.8,237.5,1013.9,18.7,3320.9,3359.3,24.4,22.9
ntagfu0032,111,20120707,2474.01,1.212895,12.109756,3.387322,2.677053,2.383302,3.381958,8.623528,...,4.6,28.6,13.8,134.4,1014.0,19.5,3308.4,3355.8,12.5,19.0
agb02,1,20120417,0,14.648533,25.453907,20.006735,20.787782,3.180215,10.246597,16.737152,...,7.3,35.6,22.3,202.7,1009.4,13.6,3319.0,3368.3,24.7,23.6
legu01,51,20121005,2217.6,2.481800,7.036602,4.496807,4.472551,1.385006,6.267471,11.820610,...,6.9,36.6,21.6,181.7,1014.0,25.1,3309.9,3356.0,20.5,29.4
ntagfu0029,108,20120615,3668.79,1.486260,8.356935,3.617116,3.516600,1.613432,4.532883,10.462761,...,4.0,31.9,12.4,73.9,1015.2,18.8,3309.1,3376.5,15.4,20.3
vrd16,139,20120727,18.48,0.170493,3.292108,0.878758,0.565797,0.730577,1.884171,3.771904,...,5.5,25.5,13.4,53.9,1020.3,20.7,3298.6,3323.4,7.2,20.0
ntaarp0002,76,20160602,24414.1,9.056872,22.308666,14.395230,14.214185,3.600052,9.738800,16.808601,...,6.0,32.9,20.7,204.2,1014.5,19.6,3324.1,3374.0,23.8,18.3
barkely06,29,20111027,0,3.292108,8.356935,5.520888,5.543378,1.433192,2.664490,7.471794,...,9.5,39.1,22.3,72.9,1012.1,22.2,3300.5,3339.3,16.9,39.0
legu04,54,20121007,3648.39,4.219115,12.109756,8.263599,8.733016,2.605832,6.884575,10.924980,...,7.0,37.8,22.9,181.7,1012.6,24.7,3315.6,3368.2,25.6,27.8
ntagfu0014,93,20120514,2608.76,2.481800,17.380726,6.528708,5.825287,3.523241,3.687035,7.127029,...,8.1,30.2,15.9,79.8,1017.8,19.9,3301.7,3336.3,10.8,24.1
lim09,64,20130601,0,5.261469,19.299746,13.411263,13.356596,3.559059,12.435081,16.738472,...,6.3,32.6,19.1,65.5,1014.8,17.8,3325.7,3376.5,24.2,16.4
ntagfu0039,118,20120714,7432.81,5.825287,15.538734,10.638903,11.309701,2.701545,3.937820,13.444046,...,5.7,34.5,18.3,136.7,1013.0,17.4,3316.5,3376.5,21.9,21.6

In [27]:
class_list = []

if classify:
    str_out= "class"
    for i in dmmmms_mean.bio_agb_kg1ha:
        if i == 0:
            x = 0
        elif i > 0 and i <1000:
            x = 1
#         elif i >= 500 and i < 1000:
#             x = 2
        elif i >= 1000 and i < 2000:
            x = 2
        elif i >=2000 and i < 3000:
            x = 3
        elif i >=3000 and i < 4000:
            x = 4
        elif i >=4000 and i < 5000:
            x = 5
        elif  i >=5000 and i < 10000:
            x = 6 
        elif i >= 10000 and i < 20000:
            x = 7
        elif i >= 20000 and i < 30000:
            x = 8
        elif i >=30000 and i < 40000:
            x = 9
        elif i >=40000 and i < 50000:
            x = 10
        else:
            x = 11
            
        print(f"class {x}: {i}")
        class_list.append(x)
    dmmmms_mean["target"] = class_list
    
else:
    str_out = "reg"
    dmmmms_mean["target"] = dmmmms_mean.bio_agb_kg1ha
    

dmmmms_mean.drop("bio_agb_kg1ha", axis=1, inplace=True)

class 0: 0.0
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 2: 1894.2
class 0: 0.0
class 0: 0.0
class 2: 1536.15
class 2: 1164.24
class 5: 4736.0133333333315
class 0: 0.0
class 2: 1549.086
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 2: 1947.5866666666723
class 2: 1293.6
class 3: 2540.846
class 2: 1796.666666666668
class 3: 2357.226666666664
class 2: 1920.996
class 3: 2608.7599999999993
class 3: 2833.213250000001
class 0: 0.0
class 3: 2389.599333333333
class 0: 0.0
class 8: 21469.14
class 8: 22699.39
class 0: 0.0
class 4: 3742.2
class 7: 11180.4
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 5: 4872.776999999999
class 6: 5588.142
class 4: 3156.902
class 6: 8031.45
class 6: 7658.5425
class 7: 17994.759999999995
class 4: 3123.12
class 6: 7711.293333333332
class 9: 35199.71
class 4: 3915.4499999999935
class 5: 4370.912
class 3: 2215.29
class 0: 0.0
class 6: 7203.195999999995
class 1: 689.9199999999995
class 4: 3615.832500000005
class 6: 6044.738
class 6: 5606.438444444445
class 4: 3668.793333333333
class 6: 8376.216103723404
class 0: 0.0
class 4: 3086.160000000001
class 8: 24670.799999999992
class 8: 29521.8
class 3: 2832.032
class 0: 0.0
class 0: 0.0
class 1: 665.28
class 0: 0.0
class 6: 6006.000000000001
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 6: 6360.2000000000035
class 6: 5173.707
class 3: 2474.01
class 8: 23737.56
class 6: 9030.945
class 8: 25701.69
class 8: 26636.294999999995
class 6: 8413.790000000005
class 7: 11338.127499999995
class 7: 12432.93333333333
class 8: 20359.82666666672
class 7: 10273.34
class 7: 18757.2
class 6: 7432.809999999998
class 6: 7240.1175
class 1: 240.24
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 1: 240.24
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 1: 18.48
class 0: 0.0
class 0: 0.0
class 1: 166.32
class 1: 295.68
class 0: 0.0
class 1: 406.56
class 1: 129.36
class 0: 0.0
class 0: 0.0
class 6: 6699.0
class 1: 73.92
class 1: 55.44
class 0: 0.0
class 0: 0.0
class 7: 11596.2
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 3: 2217.600000000001
class 0: 0.0
class 5: 4723.999000000002
class 6: 7715.4
class 4: 3648.3930000000014
class 6: 9708.965
class 5: 4717.187999999999
class 5: 4268.880000000001
class 4: 3086.160000000001
class 2: 1349.04
class 1: 73.91999999999999
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 4: 3603.6
class 3: 2439.359999999999
class 6: 6375.6
class 6: 8593.199999999999
class 8: 25585.07
class 0: 0.0
class 0: 0.0
class 8: 22881.07266666666
class 0: 0.0
class 0: 0.0
class 0: 0.0
class 6: 6946.7824999999975
class 6: 7150.517499999999
class 6: 7478.59
class 7: 10763.3225
class 0: 0.0
class 0: 0.0
class 6: 5778.0800000000045
class 5: 4142.086666666672
class 8: 20631.12333333333
class 6: 6726.414566666667
class 7: 10544.601277777776
class 6: 8627.187916666666
class 3: 2993.2466666666687
class 6: 5117.8049999999985
class 0: 0.0
class 5: 4327.623999999998
class 6: 5881.69866666666
class 3: 2824.458
class 7: 10569.772499999995
class 6: 8402.808944444443
class 6: 6922.0375
class 6: 8984.9095
class 7: 16375.181666666665
class 8: 20805.217611111115
class 9: 30472.446666666616
class 8: 24414.13022222224
class 7: 17598.352041666665
class 6: 9995.509999999998

In [28]:
dmmmms_mean.reset_index(drop=False, inplace=True)
dmmmms_mean.rename(columns={"index": "site"}, inplace=True)
dmmmms_mean.dropna(inplace=True)

In [29]:
dmmmms_mean

,site,uid,date,b1_fpca2_0509_min,b1_fpca2_0509_max,b1_fpca2_0509_mean,b1_fpca2_0509_med,b1_fpca2_0509_std,b1_h99a_01122_min,b1_h99a_01122_max,...,tmax_mean,tmin_mean,rain_m_mean,mslp_mean,rad_mean,rh_tmax_mean,rh_tmin_mean,vp_mean,vp_d_mean,target
0,nt001,71,20110523,13.779837,46.998966,25.849381,23.867432,8.477655,7.273514,11.780785,...,32.6,16.3,141.6,1013.9,16.7,3311.1,3368.3,17.0,22.0,0
1,barkely01,24,20111025,0.752944,2.872306,1.691590,1.486260,0.699975,4.384300,8.969109,...,37.0,23.6,71.7,1012.3,16.9,3312.2,3353.4,22.4,29.8,0
2,barkely04,27,20111026,2.120632,6.417120,4.374468,4.472551,1.216005,5.932899,8.854515,...,38.6,23.9,72.9,1012.1,19.2,3311.9,3358.1,24.2,31.8,0
3,barkely03,26,20111026,0.752944,3.292108,1.820417,1.637530,0.699339,3.664345,7.094025,...,38.5,23.8,73.3,1012.1,19.2,3312.2,3359.0,24.3,31.4,0
4,barkely02,25,20111026,2.120632,13.779837,4.974984,4.725986,2.433672,3.129379,5.818588,...,38.6,23.9,71.5,1012.1,19.2,3311.7,3357.8,24.1,31.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,ntadac0002,79,20160506,15.538734,42.389004,29.117230,29.265415,6.836081,16.053879,20.420395,...,35.1,24.6,228.9,1011.2,18.5,3326.9,3368.7,28.5,20.3,8
163,ntaarp0001,75,20160602,27.614885,38.921173,34.748572,34.327137,3.238761,17.312332,21.588921,...,33.1,20.7,203.8,1014.4,19.6,3323.8,3374.4,23.9,18.5,9
164,ntaarp0002,76,20160602,9.056872,22.308666,14.395230,14.214185,3.600052,9.738800,16.808601,...,32.9,20.7,204.2,1014.5,19.6,3324.1,3374.0,23.8,18.3,8
165,ntaarp0003,77,20160603,5.261469,25.453907,13.082606,12.109756,5.789599,9.613670,20.052162,...,35.1,21.1,196.1,1014.7,17.7,3318.4,3371.3,23.7,22.8,7
166,buff01,31,20210713,19.299746,40.076439,30.465705,32.058704,6.234632,11.996628,18.395920,...,32.9,19.8,527.9,1012.4,20.1,3334.5,3351.0,17.2,24.3,6

In [30]:
# dmmmms_mean.to_csv(os.path.join(ml_data_dir, f"season_met_fillna_mean_{fsm}_applied.csv"))

In [31]:
path_ = os.path.join(ml_data_dir, f"s_{v1}_{v2}_{v3}_{v4}_{v5}_{climate_str}_fnm_{fsm}_{str_out}.csv")      
dmmmms_mean.to_csv(path_, index=False)
print(path_)

D:\cdu\data\zonal_stats\output\20230205\ml_data_dir\s_mean_max_min_med_std_met_fnm_fms_applied_class.csv

In [32]:
def drop_low_r2_seasons_fn(df):
    """ Remove features from dataframe """
    df_columns = df.columns.tolist()
    
    drop_list = [columns for columns in df_columns if '0305' in columns]
    drop_list2 = [columns for columns in df_columns if '1202' in columns]
    drop_list3 = [columns for columns in df_columns if 'dp1_0509' in columns]
    
    drop_list.extend(drop_list2)
    drop_list.extend(drop_list3)
    df.drop(drop_list, axis = 1, inplace=True)
    
        
    return df
 
    
selected_features_and_seasons = drop_feature_fn(dmmmms_mean)

In [33]:
path_ = os.path.join(ml_data_dir, f"r2_bs_{v1}_{v2}_{v3}_{v4}_{v5}_{climate_str}_fnm_{fsm}_{str_out}.csv")      
selected_features_and_seasons.to_csv(path_, index=False)
print(path_)

D:\cdu\data\zonal_stats\output\20230205\ml_data_dir\r2_bs_mean_max_min_med_std_met_fnm_fms_applied_class.csv

In [34]:
import seaborn as sns
sns.histplot(data=dmmmms_mean, x="target")