In [1]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, np.nan, 4],
    'C': [1, np.nan, np.nan, 4],
    'D': [1, 2, 3, 4]
}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Drop rows where both columns 'A' and 'B' have null values
df_dropped = df.dropna(subset=['A', 'B'], how='all')

# Display the DataFrame after dropping rows
print("\nDataFrame after dropping rows where both 'A' and 'B' are null:")
print(df_dropped)

Original DataFrame:
     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  NaN  2
2  NaN  NaN  NaN  3
3  4.0  4.0  4.0  4

DataFrame after dropping rows where both 'A' and 'B' are null:
     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  NaN  2
3  4.0  4.0  4.0  4

In [4]:
dp1_file = r"C:\Users\robot\projects\outputs\biomass_collation\ot_collation_tile_data_20240710_1101\sr_fc_zonal_stats\tile_concat\dp1_zonal_concat.csv"
dp1 = pd.read_csv(dp1_file)
dp1

,uid,site,image,s_day,s_month,s_year,s_date,e_day,e_month,e_year,...,b3_dp1fm_count,b3_dp1fm_med,b3_dp1fm_p25,b3_dp1fm_p50,b3_dp1fm_p75,b3_dp1fm_p95,b3_dp1fm_p99,b3_dp1fm_range,b3_dp1fm_std,image_dt
0,1,ntagfu0010.2012_1ha,lztmre_p101r072_m198801198812_dp1m3_dkbsmask.img,1,1,1988,19880101,31,12,1988,...,9.0,68.0,67.0,68.0,70.0,75.0,75.00,12.0,3.972125,1988-01-01
1,1,ntagfu0010.2012_1ha,lztmre_p101r072_m198901198912_dp1m3_dkbsmask.img,1,1,1989,19890101,31,12,1989,...,9.0,67.0,65.0,67.0,71.0,72.2,72.84,11.0,3.559026,1989-01-01
2,1,ntagfu0010.2012_1ha,lztmre_p101r072_m199001199012_dp1m3_dkbsmask.img,1,1,1990,19900101,31,12,1990,...,9.0,56.0,55.0,56.0,61.0,64.4,65.68,12.0,3.928371,1990-01-01
3,1,ntagfu0010.2012_1ha,lztmre_p101r072_m199101199112_dp1m3_dkbsmask.img,1,1,1991,19910101,31,12,1991,...,9.0,54.0,52.0,54.0,57.0,59.8,60.76,10.0,3.071172,1991-01-01
4,1,ntagfu0010.2012_1ha,lztmre_p101r072_m199201199212_dp1m3_dkbsmask.img,1,1,1992,19920101,31,12,1992,...,9.0,65.0,59.0,65.0,65.0,69.4,70.68,15.0,4.605418,1992-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13842,16,legu08.2012_1ha,lztmre_p106r071_m202105202109_dp1m2_dknsmask.img,1,5,2021,20210501,30,9,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-01
13843,16,legu08.2012_1ha,lztmre_p106r071_m202201202212_dp1m2_dknsmask.img,1,1,2022,20220101,31,12,2022,...,9.0,58.0,55.0,58.0,60.0,62.2,62.84,9.0,2.828427,2022-01-01
13844,16,legu08.2012_1ha,lztmre_p106r071_m202205202209_dp1m2_dknsmask.img,1,5,2022,20220501,30,9,2022,...,9.0,61.0,59.0,61.0,63.0,65.6,65.92,10.0,2.943920,2022-05-01
13845,16,legu08.2012_1ha,lztmre_p106r071_m202301202312_dp1m2_dknsmask.img,1,1,2023,20230101,31,12,2023,...,9.0,56.0,54.0,56.0,57.0,61.2,61.84,11.0,3.247031,2023-01-01
13846,16,legu08.2012_1ha,lztmre_p106r071_m202305202309_dp1m2_dknsmask.img,1,5,2023,20230501,30,9,2023,...,9.0,57.0,55.0,57.0,60.0,61.6,61.92,9.0,2.910178,2023-05-01