# Content for Latex table

In [1]:
import pandas as pd
import geopandas as gpd
import os

In [2]:
#dir_ = r"E:\cdu\data\roshna_data_20221019"
dir_ = r"E:\cdu\data\slats\varified_by_rm"
output_dir = r"E:\cdu\data\output"

In [3]:
excel_ = os.path.join(dir_, "slats_biomass_field_data_script.xlsx")

In [4]:
df = pd.read_excel(excel_, sheet_name=0, index_col =0)
df

,site,date_er,date,zone,easting,northing,lattitude,longitude,datum,factor,...,nw_d_sp08,nw_sp09,nw_l_sp09,nw_d_sp09,nw_sp10,nw_l_sp10,nw_d_sp10,nw_sp11,nw_l_sp11,nw_d_sp11
uid,,,,,,,,,,,,,,,,,,,,,
0,lit01,26/04/2013,2013-04-26,52.0,724039.000,8611982.000,NaN,NaN,GDA94,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,agb02,17/04/2012,2012-04-17,52.0,717789.008,8601033.837,NaN,NaN,WGS84,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,buff01,13/07/2012,2021-07-13,52.0,706454.000,8635540.000,NaN,NaN,WGS84,0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ep01,13/07/2012,2012-07-13,52.0,698028.000,8627310.000,NaN,NaN,WGS84,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,girra01,2012-05-06 00:00:00,2012-06-05,52.0,725819.000,8615707.000,NaN,NaN,WGS84,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,auv08,2012-10-11 00:00:00,2012-10-11,52.0,569278.000,8212966.000,NaN,NaN,GDA94,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,nt001,2011-05-23 00:00:00,2011-05-23,52.0,738723.000,8457225.000,NaN,NaN,GDA94,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,nt002,2012-05-23 00:00:00,2012-05-23,52.0,739680.000,8458420.000,NaN,NaN,GDA94,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,nt003,2012-05-23 00:00:00,2012-05-23,52.0,735889.000,8468165.000,NaN,NaN,GDA94,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,nt004,2012-05-24 00:00:00,2012-05-24,52.0,701766.000,8555613.000,NaN,NaN,GDA94,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
name_list = df.site.tolist()

In [6]:
sorted(name_list)

['agb02',
 'amg01',
 'amg02',
 'amg03',
 'amg05',
 'amg06',
 'amg08',
 'amg09',
 'amg10',
 'ant01',
 'ant02',
 'ant03',
 'ant04',
 'ant05',
 'ant06',
 'ant07',
 'ant09',
 'antgr01',
 'auv01',
 'auv02',
 'auv03',
 'auv04',
 'auv05',
 'auv06',
 'auv07',
 'auv08',
 'auv08',
 'barkely01',
 'barkely02',
 'barkely03',
 'barkely04',
 'barkely05',
 'barkely06',
 'barkely07',
 'buff01',
 'centa13',
 'centa14',
 'el01',
 'el02',
 'ep01',
 'girra01',
 'girra02',
 'gulf10',
 'gulf11',
 'gulf12',
 'hsf01',
 'hsf02',
 'hshr01',
 'jdr01',
 'jdr02',
 'jdr03',
 'jdr04',
 'jdr05',
 'larr15',
 'legu01',
 'legu02',
 'legu03',
 'legu04',
 'legu05',
 'legu06',
 'legu07',
 'legu08',
 'lim01',
 'lim02',
 'lim03',
 'lim04',
 'lim05',
 'lim06',
 'lim08',
 'lim09',
 'lit01',
 'lto04',
 'lto05',
 'man03',
 'man06',
 'nc01',
 'nc02',
 'nc03',
 'nt001',
 'nt002',
 'nt003',
 'nt004',
 'umb07',
 'vrd16',
 'vrd17',
 'vrd18',
 'vrd19',
 'vrd20',
 'vrd21',
 'vrd22',
 'vrd23',
 'vrd24',
 'vrd25',
 'vrd26',
 'vrd27',
 'vrd28',
 'vrd29',
 'vrd30',
 'vrd31',
 'vrd32',
 'vrd33',
 'vrd34',
 'vrd35',
 'vrd36',
 'vrd37',
 'wedo01',
 'wedo03',
 'wh01',
 'wh02',
 'wh03',
 'wh04',
 'wh05',
 'wh06',
 'wh07',
 'wh08',
 'wh09',
 'wh10',
 'wh11',
 'wh12',
 'wh13',
 'wh14',
 'wh15']

In [13]:
for i in sorted(name_list):
    print(i, "& & & \\\\")

agb02 & & & \\
amg01 & & & \\
amg02 & & & \\
amg03 & & & \\
amg05 & & & \\
amg06 & & & \\
amg08 & & & \\
amg09 & & & \\
amg10 & & & \\
ant01 & & & \\
ant02 & & & \\
ant03 & & & \\
ant04 & & & \\
ant05 & & & \\
ant06 & & & \\
ant07 & & & \\
ant09 & & & \\
antgr01 & & & \\
auv01 & & & \\
auv02 & & & \\
auv03 & & & \\
auv04 & & & \\
auv05 & & & \\
auv06 & & & \\
auv07 & & & \\
auv08 & & & \\
auv08 & & & \\
barkely01 & & & \\
barkely02 & & & \\
barkely03 & & & \\
barkely04 & & & \\
barkely05 & & & \\
barkely06 & & & \\
barkely07 & & & \\
buff01 & & & \\
centa13 & & & \\
centa14 & & & \\
el01 & & & \\
el02 & & & \\
ep01 & & & \\
girra01 & & & \\
girra02 & & & \\
gulf10 & & & \\
gulf11 & & & \\
gulf12 & & & \\
hsf01 & & & \\
hsf02 & & & \\
hshr01 & & & \\
jdr01 & & & \\
jdr02 & & & \\
jdr03 & & & \\
jdr04 & & & \\
jdr05 & & & \\
larr15 & & & \\
legu01 & & & \\
legu02 & & & \\
legu03 & & & \\
legu04 & & & \\
legu05 & & & \\
legu06 & & & \\
legu07 & & & \\
legu08 & & & \\
lim01 & & & \\
lim02 & & & \\
lim03 & & & \\
lim04 & & & \\
lim05 & & & \\
lim06 & & & \\
lim08 & & & \\
lim09 & & & \\
lit01 & & & \\
lto04 & & & \\
lto05 & & & \\
man03 & & & \\
man06 & & & \\
nc01 & & & \\
nc02 & & & \\
nc03 & & & \\
nt001 & & & \\
nt002 & & & \\
nt003 & & & \\
nt004 & & & \\
umb07 & & & \\
vrd16 & & & \\
vrd17 & & & \\
vrd18 & & & \\
vrd19 & & & \\
vrd20 & & & \\
vrd21 & & & \\
vrd22 & & & \\
vrd23 & & & \\
vrd24 & & & \\
vrd25 & & & \\
vrd26 & & & \\
vrd27 & & & \\
vrd28 & & & \\
vrd29 & & & \\
vrd30 & & & \\
vrd31 & & & \\
vrd32 & & & \\
vrd33 & & & \\
vrd34 & & & \\
vrd35 & & & \\
vrd36 & & & \\
vrd37 & & & \\
wedo01 & & & \\
wedo03 & & & \\
wh01 & & & \\
wh02 & & & \\
wh03 & & & \\
wh04 & & & \\
wh05 & & & \\
wh06 & & & \\
wh07 & & & \\
wh08 & & & \\
wh09 & & & \\
wh10 & & & \\
wh11 & & & \\
wh12 & & & \\
wh13 & & & \\
wh14 & & & \\
wh15 & & & \\